{% extends "base.html" %}
{% load i18n %}

{% block title %}{{block.super}} :: {% trans "Centre de notifications" %}{% endblock %}

{% block ribbon %}
    {{block.super}}
    <li><i class="fa fa-bell"></i> {% trans "Centre de notifications" %}</li>
{% endblock %}


{% block content %}
  <h1>{% trans "Gestion des notifications" %}</h1>


<div id="inbox-content" class="inbox-body no-content-padding">

    <div class="inbox-side-bar">

      <h5>{% trans "Type de notification" %}</h5>

      <ul class="inbox-menu-lg" id="notification_types">
      </ul>

      <h5>{% trans "Restrictions" %}</h5>

      <div id="notification_restrictions"></div>

    </div>

    <div class="table-wrap" style="padding-top: 50px;">

        <table id="main_list_table" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>{% trans "Date" %}</th>
                    <th>{% trans "Type" %}</th>
                    <th>{% trans "Objet lié" %}</th>
                    <th>{% trans "Message" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

</div>

{% with id="main_list_table" json_url="notifications.views.notification_json" datatable_notools="yes" default_sort="[0, 'desc']" with_extradata="function() {  return '&current_type=' + NOTIFICATIONS_CURRENT_TYPE}" %}{% include "datatables.html" %}{% endwith %}

<script type="text/javascript">


    function tableHeightSize() {

        var tableHeight = $(window).height() - 212;

        if (tableHeight < 320) {
            $('.table-wrap').css('height', 320 + 'px');
        } else {
            $('.table-wrap').css('height', tableHeight + 'px');
        }

    }

    tableHeightSize()

    $(window).resize(function() {
        tableHeightSize()
    });

    var NOTIFICATIONS_CURRENT_TYPE = '';

    function load_types() {

        $.ajax('{% url 'notifications.views.notification_keys' %}?current_type=' + NOTIFICATIONS_CURRENT_TYPE).done(
            function (data) {
                $('#notification_types').html(data);
            }
        );

    }

    load_types();

    function load_restrictions() {

        $.ajax('{% url 'notifications.views.notification_restrictions' %}?current_type=' + NOTIFICATIONS_CURRENT_TYPE).done(
            function (data) {
                $('#notification_restrictions').html(data);

                $('#notifications_mute, #notifications_mail').on('change', function (e) {

                  $.ajax('{% url 'notifications.views.notification_restrictions_update' %}?current_type=' + NOTIFICATIONS_CURRENT_TYPE + '&mail=' + $('#notifications_mail').is(':checked') + '&mute=' + $('#notifications_mute').is(':checked') + '&elem=' + $(e.target).attr('id')).done(function() { load_restrictions(); });


                });
            }
        );

    }

    load_restrictions();

    function reload_data() {
        data_table_main_list_table._fnAjaxUpdate();
    }

    function switch_type(type) {
        NOTIFICATIONS_CURRENT_TYPE = type;
        reload_data();
        load_types();
        load_restrictions();

    }

    function notification_list_ignore(notif_pk) {

        $.ajax('{% url 'notifications.views.mark_as_read' %}?pk=' +notif_pk).done(
            function (data) {
                reload_data();
                load_types();
            }
        );
    }

</script>



{% endblock %}

{% block menuid %}menu-notifications{% endblock %}
