{% extends "base.html" %}
{% load i18n %}

{% block title %}{{block.super}} :: {% trans "Page d'accueil" %}{% endblock %}

{% block content %}
  <h1>{% trans "Bienvenue !" %}</h1>

   <section id="widget-grid" class="">
        <div class="row">
          {% include "main/box/news.html" %}
          {% include "main/box/moderate.html" %}
          {% include "main/box/accreds_to_validate.html" %}
          {% include "main/box/internaltransfers.html" %}
        </div>
  </section>


{% endblock %}

{% block menuid %}menu-home{% endblock %}
