{% extends "base.html" %}
{% load i18n %}

{% block title %}{{block.super}} :: {% trans "Page d'accueil" %}{% endblock %}

{% block content %}
  <h1>{% trans "Bienvenue !" %}</h1>

   <section id="widget-grid" class="">
        <div class="row">
          {% include "main/box/news.html" %}
          {% include "main/box/moderate.html" %}
          {% include "main/box/accreds_to_validate.html" %}

          {% if user.is_betatester or user.is_superuser %}
            {% include "main/box/invoices.html" %}
            {% include "main/box/internaltransfers.html" %}
            {% include "main/box/withdrawals.html" %}
            {% include "main/box/accounting_lines.html" %}
            {% include "main/box/accounting_errors.html" %}
            {% include "main/box/expenseclaims.html" %}
          {% endif %}
        </div>
  </section>


{% endblock %}

{% block menuid %}menu-home{% endblock %}
