{% load i18n %}

{% if not liste %}
    <div style="margin: 5px;">
        <h4 class="text-success"><i class="fa fa-check"></i> {% trans "Rien à faire !" %}</h4>
        {% blocktrans %}Tu n'as rien à modérer, soit parce que tu as peu de droits, soit parce que tu as bien fait ton travail :){% endblocktrans %}
    </div>
{% else %}

    <table class="table table-condensed table-hover table-striped">

        {% for key, items in liste.iteritems %}
            <tr class="info">
                <th colspan="3"><i class="fa fa-{{key.MetaData.elem_icon}}"></i> {{key.MetaData.base_title}} ({{items|length}})</th>
            </tr>

            {% for item in items %}
                <tr>
                    <td>
                        <a href="{{item.display_url}}">{{item}}</a>
                    </td>
                    <td>{% if item.get_unit_name %}{{item.get_unit_name|safe}}{% else %}<span class="label label-success label-crlf">{{item.unit}}</span>{% endif %}</td>
                    <td>{{item.last_log.when|date:"d.m.Y"}} {{item.last_log.when|time:"H:i:s"}}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
{% endif %}
