{% extends "base_pdf.html" %}
{% load i18n humanize %}

{% block title %}
    <h1 style="text-align: center; font-size: 30px; margin-top:-150px;">{% trans "Journal de caisse" %}</h1>
{% endblock %}

{% block pre_linkedinfo %}
    <tr class="tr-info"><td class="td-label">{% trans "Titre du journal de caisse : " %}</td><td class="td-large">{{object.name}}</td></tr>
    {% if object.proving_object %}
        {% if object.content_type.model == "withdrawal" %}
        <tr class="tr-info"><td class="td-label"><i>{% trans "Nom du retrait cash lié : " %}</i></td><td class="td-large">{{object.proving_object.name}}</td></tr>
        <tr class="tr-info"><td class="td-label">{% trans "Date du retrait cash lié : "%}</td><td class="td-large">{{object.proving_object.withdrawn_date|date:"d/m/Y"}}</td></tr>
        {% else %}
            <tr class="tr-info"><td class="td-label">{% trans "Attention, objet lié inconnu : "%}</td><td class="td-large">{{object.proving_object}}</td></tr>
        {% endif %}
    {% endif %}
{% endblock %}

{% block detail_table %}

    <table>
        <tr>
            <td style="width: 10%;"><b>{% trans "Date" %}</b></td>
            <td style="width: 23%;"><b>{% trans "Concerne" %}</b></td>
            <td style="width: 17%;"><b>{% trans "Justificatif" %}</b></td>
            <td style="width: 29%;"><b>{% trans "Numéro de compte" %}</b></td>
            <td style="width: 7%; text-align: center;"><b>{% trans "TVA" %}</b></td>
            <td style="width: 7%; text-align: center;"><b>{% trans "Entrée" %}</b></td>
            <td style="width: 7%; text-align: center;"><b>{% trans "Sortie" %}</b></td>
            <td style="width: 7%; text-align: center;"><b>{% trans "Solde" %}</b></td>
        </tr>

        {% for line in object.get_lines %}
            <tr class="tr-line">
                <td valign="top">{{line.date|date:"d/m/Y"}}</td>
                <td valign="top">{{line.label}}</td>
                <td valign="top">{{line.proof}}</td>
                <td valign="top">{{line.account}}</td>
                <td valign="top" style="text-align: right;">{{line.tva|floatformat:"2"}}</td>
                <td valign="top" style="text-align: right;">{{line.input_amount|intcomma}}</td>
                <td valign="top" style="text-align: right;">{{line.output_amount|intcomma}}</td>
                <td valign="top" style="text-align: right;">{{line.sub_total|intcomma}}</td>
            </tr>
        {% endfor %}

        <tr style="padding-top: 4px; text-align: right;" valign="middle">
            <td colspan="5"></td>
            <td>{{object.total_incomes}}</td>
            <td>{{object.total_outcomes}}</td>
            <td></td>
        </tr>

        <tr><td colspan="7">&nbsp;</td></tr>

        {% if object.get_total > 0 %}
            <tr>
                <td colspan="6" class="td-large" style="color: red;"><b>{% trans "Solde dû : " %}</b></td>
                <td class="td-large" style="text-align: right;"><b>{{object.get_total|intcomma}}</b></td>
            </tr>
            <tr><td colspan="7">&nbsp;</td></tr>
        {% elif object.get_total < 0 %}
            <tr>
                <td colspan="6" class="td-large" style="color: red;"><b>{% trans "Solde en sa faveur : " %}</b></td>
                <td class="td-large" style="text-align: right;"><b>{{object.get_total|intcomma|slice:"1:"}}</b></td>
            </tr>
            <tr><td colspan="7">&nbsp;</td></tr>
        {% endif %}

         <tr>
            <td colspan="3">{% trans "Nombre de justificatifs : " %}</td>
            <td>{{object.nb_proofs}}</td>
            <td colspan="3"></td>
        </tr>
        <tr><td colspan="7">&nbsp;</td></tr>

        <tr>
            <td colspan="3"><b>{% trans "Visa de l'unité : " %}</b></td>
            <td colspan="4" style="border-bottom: 1px black solid;">{% if object.status == '2_agep_validable' or object.status == '3_agep_sig1' or object.status == '3_agep_sig2' or object.status == '4_accountable' or object.status == '5_in_accounting' or object.status == '6_archived' %}{% if object.get_unit_signer %}<img src="{{MEDIA_ROOT}}img/valid-circle-icon.png" style="margin-right: 8px;" height="13" width="13">&nbsp;&nbsp;{{ object.get_unit_signer.first_name }}  {{ object.get_unit_signer.last_name }}{% endif %}{% endif %}</td>
        </tr>
        <tr><td colspan="7">&nbsp;</td></tr><tr><td colspan="7">&nbsp;</td></tr>

        <tr>
            <td colspan="3"><b>{% trans "Visa AGEPoly (1): " %}</b></td>
            <td colspan="4" style="border-bottom: 1px black solid;">{% if object.status == '4_accountable' or object.status == '5_in_accounting' or object.status == '6_archived' %}{% if object.get_root_unit_signer_1 %}<img src="{{MEDIA_ROOT}}img/valid-circle-icon.png" style="margin-right: 8px;" height="13" width="13">&nbsp;&nbsp;{{ object.get_root_unit_signer_1.first_name }}  {{ object.get_root_unit_signer_1.last_name }}{% endif %}{% endif %}</td>
        </tr>
        <tr><td colspan="7">&nbsp;</td></tr><tr><td colspan="7">&nbsp;</td></tr>

        <tr>
            <td colspan="3"><b>{% trans "Visa AGEPoly (2): " %}</b></td>
            <td colspan="4" style="border-bottom: 1px black solid;">{% if object.status == '4_accountable' or object.status == '5_in_accounting' or object.status == '6_archived' %}{% if object.get_root_unit_signer_2 %}<img src="{{MEDIA_ROOT}}img/valid-circle-icon.png" style="margin-right: 8px;" height="13" width="13">&nbsp;&nbsp;{{ object.get_root_unit_signer_2.first_name }}  {{ object.get_root_unit_signer_2.last_name }}{% endif %}{% endif %}</td>
        </tr>
    </table>
{% endblock %}
