{% load i18n bootstrap3 %}

<form id="add-accred-form" method="POST" action="{% url 'units.views.accreds_add' %}?upk={{unit.pk}}">
    {% csrf_token %}

    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">{% trans "Nouvelle accréditation" %}</h4>
        </div>

        <div class="modal-body">

            <div class="form-group">
                <label>
                    {% trans "Unité" %}
                </label>
                <input disabled class="form-control" value="{{unit}}">
                <span class="help-block">
                    {% trans "Ferme cette fenêtre et utilise le sélecteur en haut à droite si tu veux changer d'unité" %}
                </span>
            </div>

            {% bootstrap_form form %}

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    {% trans "Annuler" %}
                </button>
                <input type="submit" class="btn btn-primary" value="{% trans "Ajouter" %}">
            </div>
        </div>

    </div><!-- /.modal-content -->

    <script type="text/javascript">
        $('#add-accred-form').ajaxForm({replaceTarget: true, target: '#add-accred-form'});

        $('#id_role').parent().after('<div class="alert alert-danger" id="validable_warning" style="display: none;"><i class="fa fa-warning"></i> {% trans "Tu dois notifier et justifier auprès du comité de l\\\'AGEPoly toutes les accréditations utilisant ce rôle !" %} <br /><b><center>comite@agepoly.ch</center></b></div>');

        $('#id_role').css('width', '100%').addClass('select2').removeClass('form-control').select2().on('change', function () {

            var v = $('#id_role').val();

            if ({% for validable in validables %}v == '{{validable.pk}}' {% if not forloop.last %} || {% endif %}{% endfor %}) {
                $('#validable_warning').show();
            } else {
                $('#validable_warning').hide();
            }
        });

        $('#id_user').css('width', '100%').addClass('select2').attr('type', 'hidden').removeClass('form-control').select2({
            minimumInputLength: 3,
            ajax: {
                url: "{% url 'users.views.ldap_search' %}",
                dataType: 'json',
                data: function (term, page) {
                    return {
                    q: term
                    };
                },
                results: function (data, page) {
                    return { results: data };
                }
            }
        });

        {% if done %}
            window.location.reload();
        {% endif %}

    </script>
</form>
