
{% extends "base.html" %}
{% load i18n %}

{% block title %}{{block.super}} :: {% trans "Accréditations" %} :: {% trans "Liste" %}}{% endblock %}

{% block ribbon %}
    {{block.super}}
    <li><i class="fa fa-key"></i> {% trans "Accréditations" %}</li>
  {% endblock %}

{% block content %}
    <h1>{% trans "Liste de toutes les accréditations" %}</h1>

    <section id="widget-grid" class="">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-lg-10">
                {% with w_title="Liste" w_nopadding=True on_off_widget=True on_off_title="Afficher les anciennes accrédiations" on_off_id="accredlist" %}{% include "widget/header.html" %}{% endwith %}
                    <div class="widget-body-toolbar"></div>
                    <table id="main_list_table" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th width="16.666%">{% trans "Personne" %}</th>
                                    <th width="16.666%">{% trans "Role" %}</th>
                                    <th width="16.666%">{% trans "Début" %}</th>
                                    <th width="16.666%">{% trans "Syncronisation EPFL" %}</th>
                                    <th width="16.666%">{% trans "Expiration automatique" %}</th>
                                    <th width="16.666%"></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                          </table>

                      <hr style="clear: both; visibility: hidden;">

                {% include "widget/footer.html" %}
            </div>
            <div class="col-sm-12 col-md-2 col-lg-2">
                {% with function_to_call="unit_updated" %}
                  {% include "units/selector/unit_selector.html" %}
                {% endwith %}
            </div>

        </div>
    </section>

    <script type="text/javascript">

      function refresh_list() {
        data_table_main_list_table._fnAjaxUpdate();
      }

      function unit_updated() {
          $('#add-accred-button').attr('data-remote', $('#add-accred-button').attr('base-data-remote') + $('.cgroupe').attr("pk"));
          refresh_list();
                }

      function disp_add() {
        //Allow usage of select2
        $.fn.modal.Constructor.prototype.enforceFocus = function () {};
          $('#modal-add-accred').find('.modal-content').html('');
          $('#modal-add-accred').removeData('bs.modal');
          $('#modal-add-accred').modal({remote: $('#add-accred-button').attr('data-remote')});

      }


      $('#myonoffswitchaccredlist').on('click', function() { refresh_list(); });

      function accred_extra_data() {
        return "&h=" + ($('#myonoffswitchaccredlist').is(":checked") ? 1 : 0);
      }
    </script>

    {% with id="main_list_table" json_url="units.views.accreds_list_json" with_upk=True with_extradata="accred_extra_data" %}{% include "datatables.html" %}{% endwith %}


    <div style="float: right;">

      <button class="btn btn-primary" onclick="disp_add();" data-remote="{% url 'units.views.accreds_add' %}?upk={{CURRENT_UNIT.pk}}" base-data-remote="{% url 'units.views.accreds_add' %}?upk=" id="add-accred-button">
        <i class="fa fa-plus"></i> {% trans "Ajouter une accréditation" %}
      </button>

    </div>

    <div class="modal fade" id="modal-add-accred" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
        </div>
      </div>
    </div>
  
  {% endblock %}
