{% extends "base.html" %}
{% load i18n bootstrap3 %}

{% block title %}{{block.super}} :: {% trans "Utilisateurs" %} :: {% trans "Edition" %}}{% endblock %}

{% block ribbon %}
    {{block.super}}
    <li><a href="{% url 'users.views.users_list' %}"><i class="fa fa-group"></i> {% trans "Annuaire global" %}</a></li>
    <li><a href="{% url 'users.views.users_profile' form.instance.pk %}"><i class="fa fa-user"></i> {{form.instance.get_full_name}}</a></li>
    <li><i class="fa fa-pencil"></i> {% trans "Edition" %}</li>
{% endblock %}

{% block content %}
    <h1>{{form.instance.get_full_name}}</h1>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-7">
            <div class="well">
                <form class="form-horizontal" method="POST">
                    {% csrf_token %}

                    <div class="alert alert-warning">
                        {% trans "Les utilisateurs sont synchronisées vers Truffe1 toutes les 5 minutes: il peut y avoir un délais pour l'application des modifications du coté de Truffe1 !" %}
                    </div>

                    {% bootstrap_form form layout='horizontal' %}

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="{% url 'users.views.users_profile' form.instance.pk %}" class="btn btn-default">{% trans "Annuler" %}</a>
                                {% if not user.username_is_sciper %}
                                    <a href="{% url 'users.views.password_change_check' %}" class="btn btn-primary"><i class="glyphicon glyphicon-lock"></i> {% trans "Changer de mot de passe" %}</a>
                                {% endif %}
                                <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> {% trans "Sauvegarder" %}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <script type="text/javascript">
            // Add privacy elements
            function add_priv_buttons() {
                $('.form-group input:not(:checkbox), .form-group textarea').each(function(__, element) {

                    if (['id_username', 'id_first_name', 'id_last_name', 'id_email'].indexOf($(element).attr('id')) > -1)
                        return;

                    $(element).wrap('<div class="input-group"></div>');
                    $(element).after('<span class="input-group-btn"><button class="btn btn-default dropdown-toggle" id="priv_val_' + $(element).attr('name') + '" tabindex="-1" data-toggle="dropdown" type="button"><span class="status">Privé</span> <span class="caret"></span><input name="priv_val_' + $(element).attr('name') + '" type="hidden"></button><ul class="dropdown-menu pull-right" role="menu"><li class="dropdown-header">{% trans "Visibilité" %}</li><li class="divider"></li>{% for level in privacy_choices %}<li><a href="#" onclick="switch_val(\'{{level.0}}\', \'' + $(element).attr('name') + '\');" id="priv_level_{{level.0}}"><i class="fa fa-eye"></i> {{level.1}}</a></li>{% endfor %}</ul></span>');
                });
            }

            function switch_val(value, id) {
                $('#priv_val_' + id + ' .status').html($('#priv_level_' + value).html());
                $('#priv_val_' + id + ' input').val(value);
            }

            add_priv_buttons();

            {% for field, value in privacy_values.iteritems %}
                switch_val('{{value}}', '{{field}}');
            {% endfor %}
        </script>
    </div>
{% endblock %}


{% block menuid %}{% if form.instance.pk == user.pk %}menu-gens-monprofile{% else %}menu-gens-annuaire{% endif %}{% endblock %}
