{% extends "base.html" %}
{% load i18n %}

{% block title %}{{block.super}} :: {% trans "Utilisateurs" %} :: {% trans "Annuaire global" %}{% endblock %}

{% block ribbon %}
    {{block.super}}
    <li><i class="fa fa-group"></i> {% trans "Annuaire global" %}</li>
  {% endblock %}

{% block content %}
    <h1>
        {% trans "Liste de toutes les personnes" %}
    </h1>

    <section id="widget-grid" class="">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                {% with w_title="Liste" w_nopadding=True %}{% include "widget/header.html" %}{% endwith %}
                    <div class="widget-body-toolbar"></div>
                        <table id="main_list_table" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>{% trans "Sciper" %}</th>
                                    <th>{% trans "Nom" %}</th>
                                    <th>{% trans "Prénom" %}</th>
                                    <th>{% trans "Rôles" %}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                        <hr style="clear: both; visibility: hidden;">

                {% include "widget/footer.html" %}
            </div>
        </div>
    </section>

    {% with id="main_list_table" json_url="users.views.users_list_json" %}{% include "datatables.html" %}{% endwith %}
    {% if can_create %}
            <a href="{% url "users.views.users_create_external" %}" class="btn btn-primary" style="float: right;">
            <i class="fa fa-plus"></i> {% trans "Créer un nouveau compte" %}</a>
        {% endif %}
{% endblock %}


{% block menuid %}menu-gens-annuaire{% endblock %}
