{% extends "generic/datatables_json.html" %}
{% load i18n %}

{% block data %}
[
    {% for elem in list %}
      [
      "<a href=\"{% url "users.views.users_profile" elem.user.pk %}\">{{elem.user.username|force_escape|escapejs}}</a>",
        "{{elem.user.first_name|force_escape|escapejs}}",
        "{{elem.user.last_name|force_escape|escapejs}}",
        "{{elem.get_role_or_display_name|force_escape|escapejs}}",
        "{% if user.is_superuser %}<a href=\"{% url "users.views.users_edit" elem.user.pk %}\" class=\"btn btn-xs btn-default\"><i class=\"fa fa-pencil\"></i> {% trans "Editer" %}</a>{% endif %}"
      ]{% if not forloop.last %},{% endif %}
    {% endfor %}
]
{% endblock %}
