#logo {
  margin-top: -3px;
}


.footer {
  font-size: 10px;
  text-align: center;
  display: block;

}

.popover-no-padding .popover-content {
  padding: 0px; !important;
}

.popover-no-padding .popover {

  max-width: 500px;

}

.dropdown-submenu-right > .dropdown-menu {
  margin-left: 2px !important;
  right: 100% !important;
  left: auto !important;
}


.states-box {
  height: 200px;
}

.states-box svg {
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.states-box svg:not(.active):not(.ctrl) {
}

.states-box path.link {
  fill: none;
  stroke: #999;
  stroke-width: 4px;
}

.states-box svg:not(.active):not(.ctrl) path.link {
}

.states-box path.link.selected {
  stroke-dasharray: 10,2;
}

.states-box path.link.dragline {
  pointer-events: none;
}

.states-box path.link.hidden {
  stroke-width: 0;
}

.states-box circle.node {
  stroke-width: 1.5px;
}

.states-box circle.node.switchable {
  cursor: pointer;
}

.states-box circle.node.active {
  stroke: #000 !important;
  stroke-width: 2.5px;
}

.states-box text {
  font: 12px sans-serif;
  pointer-events: none;
}

.states-box text.id {
  /* text-anchor: middle; */
}
.states-box text.active {
  font-weight: bold;
}

.event .fc-event-inner {
  cursor: pointer;
}

.tr_selected > td {
    background-color: #FFFFEB !important;
}

.tr_selected:hover > td {
    background-color: #FFFFDB !important;
}

.popover {
    z-index: 999999 !important;
}

#content {
    min-height: 800px !important;
}
