#logo {
  margin-top: -3px;
}


.footer {
  font-size: 10px;
  text-align: center;
  display: block;

}

.popover-no-padding .popover-content {
  padding: 0px; !important;
}

.popover-no-padding .popover {

  max-width: 500px;

}

.dropdown-submenu-right > .dropdown-menu {
  left: -100% !important;
  margin-left: 2px !important;
}
