#logo {
  margin-top: -3px;
}


.footer {
  font-size: 10px;
  text-align: center;
  display: block;

}

.popover-no-padding .popover-content {
  padding: 0px; !important;
}

.popover-no-padding .popover {

  max-width: 500px;

}

.dropdown-submenu-right > .dropdown-menu {
  margin-left: 2px !important;
  right: 100% !important;
  left: auto !important;
}


.states-box {
  height: 200px;
}

.states-box svg {
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.states-box svg:not(.active):not(.ctrl) {
}

.states-box path.link {
  fill: none;
  stroke: #999;
  stroke-width: 4px;
}

.states-box svg:not(.active):not(.ctrl) path.link {
}

.states-box path.link.selected {
  stroke-dasharray: 10,2;
}

.states-box path.link.dragline {
  pointer-events: none;
}

.states-box path.link.hidden {
  stroke-width: 0;
}

.states-box circle.node {
  stroke-width: 1.5px;
}

.states-box circle.node.switchable {
  cursor: pointer;
}

.states-box circle.node.active {
  stroke: #000 !important;
  stroke-width: 2.5px;
}

.states-box text {
  font: 12px sans-serif;
  pointer-events: none;
}

.states-box text.id {
  /* text-anchor: middle; */
}
.states-box text.active {
  font-weight: bold;
}

.event .fc-event-inner {
  cursor: pointer;
}

.tr_selected > td {
    background-color: #FFFFEB !important;
}

.tr_selected:hover > td {
    background-color: #FFFFDB !important;
}

.popover {
    z-index: 999999 !important;
}

#content {
    min-height: 800px !important;
}

#content_login {
    min-height: 600px !important;
}

.menulogo {
    margin: auto;
    display: block;
    margin-top: 10px;
}

.minified .menulogo {
    display: none;
}

.dataTable td {
    border-right: 1px #eee solid;
}


.label-crlf {
    white-space: pre-wrap;
    display: inline-block;
}

.DTTT_Print .hideprint {
    display: none !important;
}

.main-placeholder {
    height: 200px;
}

.login-info img {
    max-height: 27px;
}

.desktop-detected .line_field_lines_date {
    min-width: 100px;
    max-width: 120px;
    width:6%;
}

.desktop-detected .line_field_lines_helper {
    max-width: 150px;
}
.desktop-detected .line_field_lines_account {
    max-width: 150px;
    width: 10%;
}

.desktop-detected .line_field_lines_value {
    min-width:100px;
    max-width:120px;
    width:6%;
}

.desktop-detected .line_field_lines_value_ttc {
    min-width:100px;
    max-width:120px;
    width:6%;
}

.desktop-detected div.select2-drop{
    min-width: 200px;
}

.desktop-detected .line_field_lines_tva {
    max-width: 110px;
}

.desktop-detected .line_field_lines_label {
    min-width:200px;
    width:28%;
}

.desktop-detected .line_field_lines_proof {
    min-width: 150px;
    width:20%;
}

.supply-items {
    padding-left: 10px;
}

.supply-items li {
    padding-bottom: 5px;
}

.supply-items li span {
    display: block;
    margin-left: -8px;
}
