{% load i18n %}
<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">

        <title>{% block title %}Truffe 2{% endblock %}</title>
        <meta name="description" content="{% trans "L'intranet de l'AGEPoly !" %}">
        <meta name="author" content="Maximilien Cuony, Lionel Martin">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Basic Styles -->
        <link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}css/font-awesome.min.css">

        <link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}css/smartadmin-production.css">
        <link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}css/smartadmin-skins.css">
        <link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}css/truffe.css">

        <!-- FAVICONS -->
        <link rel="shortcut icon" href="{{MEDIA_URL}}img/favicon/favicon.png" type="image/x-icon">
        <link rel="icon" href="{{MEDIA_URL}}img/favicon/favicon.png" type="image/x-icon">

        <!-- GOOGLE FONT -->
        <link rel="stylesheet" href="{{MEDIA_URL}}css/opensans.css">

    </head>
    <body id="login" class="animated fadeInDown">
        <!-- possible classes: minified, no-right-panel, fixed-ribbon, fixed-header, fixed-width-->
        <header id="header">

            <div id="logo-group">
              <span id="logo"> <img src="{{MEDIA_URL}}img/logo.png" style="margin-top: -20px;" alt="Truffe"> </span>
            </div>

        </header>

        <div id="main" role="main">

            <!-- MAIN CONTENT -->
            <div id="content_login" class="container login">

            {% if why %}
                {% if why == 'reset_done' %}
                    <div class="alert alert-success">
                    {% trans "Si un compte Truffe est lié à l'adresse mail fournie, tu viens de recevoir les instructions pour récupérer ton mot de passe par email." %}
                {% elif why == 'reset_completed' %}
                    <div class="alert alert-success">
                    {% trans "Ton mot de passe a bien été modifié. Tu peux maintenant te connecter avec." %}
                {% elif why == 'bad_credentials' %}
                    <div class="alert alert-danger">
                    {% trans "Username / mot de passe incorrects. Es-tu sûr de ne pas vouloir te connecter avec Tequila?" %}
                {% elif why == 'username_is_sciper' %}
                    <div class="alert alert-danger">
                    {% trans "Tu dois te connecter par Tequila et utiliser ton username Gaspar à la place de ton Sciper." %}
                {% else %}
                    <div class="alert alert-danger">
                    {% blocktrans with why=why %}
                      Impossible de se connecter via Tequila. L'erreur est : {{why}}.
                    {% endblocktrans %}
                {% endif %}
              </div>
            {% endif %}

                <div class="row">
                {% block content %}{% endblock %}
                </div>
            </div>
        </div>

  
        <center>
            <br />
            <a href="http://djangopony.com/" class="ponybadge" title="Magic! Ponies! Django! Whee!" target="_blank">
                <img src="{{MEDIA_URL}}img/badge.png">
            </a>
            <a href="http://www.djangoproject.com/" target="_blank">
                <img src="https://www.djangoproject.com/m/img/badges/djangomade124x25.gif" style="margin-top: 19px;" border="0" alt="Made with Django." title="Made with Django." />
            </a>
            <br /><br />
        </center>

        <div class="footer">&copy; Copyright 2015: Maximilien Cuony, Lionel Martin et <a href="https://github.com/agepoly/truffe2/graphs/contributors" target="_blank">{% trans "contributeurs" %}</a> - BSD - <a href="https://github.com/agepoly/truffe2">Fork me on github !</a><br />
            {% trans "Développé pour l'" %}<a href="https://agepoly.ch">AGEPoly</a> {% trans "avec" %} <a href="https://www.djangoproject.com/">Django</a> - {% trans "Soutien technique partiel par" %} <a href="https://polylan.ch">PolyLAN</a>
            <hr style="clear: both; visibility: hidden;">
        </div>

        <!--================================================== -->  

        <script src="{{MEDIA_URL}}js/libs/jquery-2.0.2.min.js"></script>
        <script src="{{MEDIA_URL}}js/libs/jquery-ui-1.10.3.min.js"></script>

        <!-- BOOTSTRAP JS -->
        <script src="{{MEDIA_URL}}js/bootstrap/bootstrap.min.js"></script>

        <!-- browser msie issue fix -->
        <script src="{{MEDIA_URL}}js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

        <!-- FastClick: For mobile devices -->
        <script src="{{MEDIA_URL}}js/plugin/fastclick/fastclick.js"></script>

        <script src="{{MEDIA_URL}}js/arrive.min.js"></script>

        <!-- MAIN APP JS FILE -->
        <script src="{{MEDIA_URL}}js/app.js"></script>

    </body>
</html>
