{% load i18n %}
<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

        <title>Truffe</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Basic Styles -->
        <link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}css/font-awesome.min.css">

        <link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}css/smartadmin-production.css">
        <link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}css/smartadmin-skins.css">
        <link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}css/truffe.css">

        <!-- FAVICONS -->
        <link rel="shortcut icon" href="{{MEDIA_URL}}img/favicon/favicon.png" type="image/x-icon">
        <link rel="icon" href="{{MEDIA_URL}}img/favicon/favicon.png" type="image/x-icon">

        <!-- GOOGLE FONT -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

    </head>
    <body id="login" class="animated fadeInDown">
        <!-- possible classes: minified, no-right-panel, fixed-ribbon, fixed-header, fixed-width-->
        <header id="header">

            <div id="logo-group">
              <span id="logo"> <img src="{{MEDIA_URL}}img/logo.png" style="margin-top: -20px;" alt="Truffe"> </span>
            </div>

        </header>

        <div id="main" role="main">

            <!-- MAIN CONTENT -->
            <div id="content" class="container">

            {% if why %}
                {% if why == 'reset_done' %}
                    <div class="alert alert-success">
                    {% trans "Si un compte Truffe est lié à l'adresse mail fournie, tu viens de recevoir les instructions pour récupérer ton mot de passe par email." %}
                {% elif why == 'reset_completed' %}
                    <div class="alert alert-success">
                    {% trans "Ton mot de passe a bien été modifié. Tu peux maintenant te connecter avec." %}
                {% elif why == 'bad_credentials' %}
                    <div class="alert alert-danger">
                    {% trans "Username / mot de passe incorrects. Es-tu sûr de ne pas vouloir te connecter avec Tequila?" %}
                {% elif why == 'username_is_sciper' %}
                    <div class="alert alert-danger">
                    {% trans "Tu dois te connecter par Tequila et utiliser ton username Gaspar à la place de ton Sciper." %}
                {% else %}
                    <div class="alert alert-danger">
                    {% blocktrans with why=why %}
                      Impossible de se connecter via Tequila. L'erreur est : {{why}}.
                    {% endblocktrans %}
                {% endif %}
              </div>
            {% endif %}

                <div class="row">
                {% block content %}{% endblock %}
                </div>
            </div>
        </div>

  
        <center>
          <br />
          <a href="http://djangopony.com/" class="ponybadge" title="Magic! Ponies! Django! Whee!" target="_blank">
            <img src="{{MEDIA_URL}}img/badge.png">
          </a>
          <a href="http://www.djangoproject.com/" target="_blank">
            <img src="https://www.djangoproject.com/m/img/badges/djangomade124x25.gif" style="margin-top: 19px;" border="0" alt="Made with Django." title="Made with Django." />
          </a>
          <br /><br />
        </center>

        <div class="footer">&copy; Copyright 2015 AGEPoly / Maximilien Cuony - Lionel Martin - Yann Beaud / PolyLAN</div>

        <!--================================================== -->  

        <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
        <script src="{{MEDIA_URL}}js/plugin/pace/pace.min.js"></script>

        <script src="{{MEDIA_URL}}js/libs/jquery-2.0.2.min.js"></script>
        <script src="{{MEDIA_URL}}js/libs/jquery-ui-1.10.3.min.js"></script>

        <!-- JS TOUCH : include this plugin for mobile drag / drop touch events         
        <script src="{{MEDIA_URL}}js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->

        <!-- BOOTSTRAP JS -->       
        <script src="{{MEDIA_URL}}js/bootstrap/bootstrap.min.js"></script>

        <!-- CUSTOM NOTIFICATION -->
        <script src="{{MEDIA_URL}}js/notification/SmartNotification.min.js"></script>

        <!-- JARVIS WIDGETS -->
        <script src="{{MEDIA_URL}}js/smartwidgets/jarvis.widget.min.js"></script>

        <!-- EASY PIE CHARTS -->
        <script src="{{MEDIA_URL}}js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

        <!-- SPARKLINES -->
        <script src="{{MEDIA_URL}}js/plugin/sparkline/jquery.sparkline.min.js"></script>

        <!-- JQUERY VALIDATE -->
        <script src="{{MEDIA_URL}}js/plugin/jquery-validate/jquery.validate.min.js"></script>

        <!-- JQUERY MASKED INPUT -->
        <script src="{{MEDIA_URL}}js/plugin/masked-input/jquery.maskedinput.min.js"></script>

        <!-- JQUERY SELECT2 INPUT -->
        <script src="{{MEDIA_URL}}js/plugin/select2/select2.min.js"></script>

        <!-- JQUERY UI + Bootstrap Slider -->
        <script src="{{MEDIA_URL}}js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

        <!-- browser msie issue fix -->
        <script src="{{MEDIA_URL}}js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

        <!-- FastClick: For mobile devices -->
        <script src="{{MEDIA_URL}}js/plugin/fastclick/fastclick.js"></script>

        <script src="{{MEDIA_URL}}js/arrive.min.js"></script>

        <!--[if IE 7]>

            <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

        <![endif]-->

        <!-- MAIN APP JS FILE -->
        <script src="{{MEDIA_URL}}js/app.js"></script>

    </body>
</html>
