{% load i18n rights_extras main_extras cache %}
<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">

        <title>{% block title %}Truffe2{% endblock %}</title>
        <meta name="description" content="{% trans "L'intranet de l'AGEPoly !" %}">
        <meta name="author" content="Maximilien Cuony, Lionel Martin">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Basic Styles -->
        <link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}css/font-awesome.min.css">

        <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
        <link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}css/smartadmin-production.css">
        <link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}css/smartadmin-skins.css">

        <link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}css/lightbox.css">

        <link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}css/truffe.css">

        <!-- FAVICONS -->
        <link rel="shortcut icon" href="{{MEDIA_URL}}img/favicon/favicon.png" type="image/x-icon">
        <link rel="icon" href="{{MEDIA_URL}}img/favicon/favicon.png" type="image/x-icon">

        <!-- GOOGLE FONT -->
        <link rel="stylesheet" href="{{MEDIA_URL}}css/opensans.css">

        <script src="{{MEDIA_URL}}js/libs/jquery-2.0.2.min.js"></script>
        <script src="{{MEDIA_URL}}js/libs/jquery-ui-1.10.3.min.js"></script>
        <script src="{{MEDIA_URL}}js/plugin/jquery-form/jquery-form.min.js"></script>
        <script src="{{MEDIA_URL}}js/d3.min.js"></script>
        <script src="{{MEDIA_URL}}js/lightbox.min.js"></script>
        <script src="{{MEDIA_URL}}js/libs/js.cookie.js"></script>

    </head>
    <body class="fixed-ribbon fixed-header {% if user.body == 'm' %}minified{% endif %}{% if user.body == 'h' %}hidden-menu{% endif %}">

        <!-- HEADER -->
        <header id="header">
            <div id="logo-group">

                <!-- Squares: http://www.thenounproject.com/term/stop/23031/ -->
                <span id="logo"><a href="/"><img src="{{MEDIA_URL}}img/logo{% if request.META.HTTP_HOST == 'truffe2testing.agepoly.ch' %}_testing{% endif %}.png" alt="Truffe"></a></span>
                <!-- END LOGO PLACEHOLDER -->

                <span id="activity" class="activity-dropdown" url="{% url 'notifications.views.dropdown' %}">
                    <i class="fa fa-bell"></i>
                    <b class="badge bounceIn animated">{{notifications_count}}</b>
                </span>

                <div class="ajax-dropdown"></div>

            </div>

            <!-- pulled right: nav area -->
            <div class="pull-right">

                <!-- collapse menu button -->
                <div id="hide-menu" class="btn-header pull-right">
                    <span> <a href="javascript:void(0);" title="{% trans "Cacher le menu" %}"><i class="fa fa-reorder"></i></a> </span>
                </div>
                <!-- end collapse menu -->

                <!-- logout button -->
                <div id="logout" class="btn-header transparent pull-right">
                    <span> <a href="{% url 'django.contrib.auth.views.logout' %}" title="{% trans "Logout" %}"><i class="fa fa-sign-out"></i></a> </span>
                </div>
                <!-- end logout button -->

                <!-- search mobile button (this is hidden till mobile view port) -->
                <div id="search-mobile" class="btn-header transparent pull-right">
                    <span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
                </div>
                <!-- end search mobile button -->

                <!-- input: search field -->
                <form action="{% url 'search_view' %}" class="header-search pull-right">
                    <input type="text" name="q" placeholder="{% trans "Rechercher dans truffe 2" %}" id="search-fld">
                    <button type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                    <a href="javascript:void(0);" id="cancel-search-js" title="{% trans "Annuler" %}"><i class="fa fa-times"></i></a>
                </form>
                <!-- end input: search field -->

            </div>
            <!-- end pulled right: nav area -->

        </header>
        <!-- END HEADER -->

        <!-- Left panel : Navigation area -->
        <aside id="left-panel">

            <!-- User info -->
            <div class="login-info">
                <span>
                    {% if user and user.pk %}
                        <a href="{% url 'users.views.users_profile' user.pk %}">
                            <img src="{% url 'users.views.users_profile_picture' user.pk %}" alt="" class="online" />
                            <span>
                                {{user.get_full_name}}
                            </span>
                        </a>
                    {% endif %}
                </span>
            </div>
            <!-- end user info -->
            <nav>
                <ul>
                    <li id="menu-home">
                        <a href="{% url 'main.views.home' %}" title="{% trans "Accueil" %}"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">{% trans "Accueil" %}</span></a>
                    </li>

                    {% cache 900 "leftmenu-links-main-top" %}
                        {% display_links_for_menu "/main/top" %}
                    {% endcache %}

                    {% if user.is_superuser or user.is_impersonate %}
                        <li>
                            <a href="#"><i class="fa fa-lg fa-fw fa-legal"></i> <span class="menu-item-parent">{% trans "Admin" %}</span></a>
                            <ul>
                                <li id="menu-impersonate">
                                    {% if not user.is_impersonate %}
                                        <a href="{% url 'impersonate-search' %}"><i class="fa fa-lg fa-fw fa-male"></i> {% trans "Impersonate" %}</a>
                                    {% else %}
                                        <a href="{% url 'impersonate-stop' %}"><i class="fa fa-lg fa-fw fa-male fa-spin"></i> {% trans "Stop Impersonate" %}</a>
                                    {% endif %}
                                </li>

                                <li id="menu-admin-logging">
                                    <a href="{% url 'main.views.last_100_logging_entries' %}"><i class="fa fa-lg fa-fw fa-list"></i> {% trans "Logging général" %}</a>
                                </li>

                                {% cache 900 "leftmenu-links-admin" %}
                                    {% display_links_for_menu "/admin/" %}
                                {% endcache %}
                            </ul>
                        </li>
                    {% endif %}
                    <li>
                        <a href="#"><i class="fa fa-lg fa-fw fa-group"></i> <span class="menu-item-parent">{% trans "Gens" %}</span></a>
                        <ul>
                            <li id="menu-gens-annuaire">
                                <a href="{% url 'users.views.users_list' %}"><i class="fa fa-lg fa-fw fa-group"></i> {% trans "Annuaire global" %}</a>
                            </li>
                            <li id="menu-gens-myunit">
                                <a href="{% url 'users.views.users_myunit_list' %}"><i class="fa fa-lg fa-fw fa-group"></i> {% trans "Mon unité" %}</a>
                            </li>
                            {% if user and user.pk %}
                                <li id="menu-gens-monprofile">
                                    <a href="{% url 'users.views.users_profile' user.pk %}"><i class="fa fa-lg fa-fw fa-user"></i> {% trans "Mon profil" %}</a>
                                </li>
                            {% endif %}

                            {% cache 900 "leftmenu-links-gens" %}
                                {% display_links_for_menu "/gens/" %}
                            {% endcache %}
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-lg fa-fw fa-bullhorn"></i> <span class="menu-item-parent">{% trans "Communication" %}</span></a>
                        <ul>
                            {% ifhasright 'main.models.HomePageNews' user 'LIST' %}
                                <li id="menu-communication-homepagenews">
                                    <a href="{% url 'main.views.homepagenews_list' %}"><i class="fa fa-lg fa-fw fa-home"></i> {% trans "News Truffe" %}</a>
                                </li>
                            {% endifhasright %}
                            {% ifhasright 'communication.models.WebsiteNews' user 'LIST' %}
                                <li id="menu-communication-websitenews">
                                    <a href="{% url 'communication.views.websitenews_list' %}"><i class="fa fa-lg fa-fw fa-home"></i> {% trans "News du site de l'AGEPoly" %}</a>
                                </li>
                            {% endifhasright %}
                            {% ifhasright 'communication.models.AgepSlide' user 'LIST' %}
                                <li id="menu-communication-agepslide">
                                    <a href="{% url 'communication.views.agepslide_list' %}"><i class="fa fa-lg fa-fw fa-home"></i> {% trans "Slides des écrans de l'AGEPoly" %}</a>
                                </li>
                            {% endifhasright %}

                            {% ifhasright 'communication.models.DisplayReservation' user 'LIST' %}
                                <li>
                                    <a href="#"><i class="fa fa-lg fa-fw fa-clipboard"></i> {% trans "Affichages" %}</a>

                                    <ul class="subsub-menu">

                                        {% ifhasright 'communication.models.DisplayReservation' user 'LIST' %}
                                            <li id="menu-communication-display-reservation">
                                                <a href="{% url 'communication.views.displayreservation_list' %}"><i class="fa fa-lg fa-fw fa-bookmark"></i> {% trans "Réservations d'affichage" %}</a>
                                            </li>
                                            <li id="menu-communication-display-reservation-calendar">
                                                <a href="{% url 'communication.views.displayreservation_calendar' %}"><i class="fa fa-lg fa-fw fa-calendar"></i> {% trans "Calendrier de mes réservations" %}</a>
                                            </li>
                                        {% endifhasright %}

                                        {% ifhasright 'communication.models.DisplayReservation' user 'CREATE' %}
                                            <li id="menu-communication-display-reservation-directory">
                                                <a href="{% url 'communication.views.displayreservation_directory' %}"><i class="fa fa-lg fa-fw fa-folder"></i> {% trans "Liste des affichages" %}</a>
                                            </li>
                                        {% endifhasright %}

                                        {% ifhasright 'communication.models.Display' user 'LIST' %}
                                            <li id="menu-communication-display">
                                                <a href="{% url 'communication.views.display_list' %}"><i class="fa fa-lg fa-fw fa-clipboard"></i> {% trans "Gestion des affichages" %}</a>
                                            </li>
                                        {% endifhasright %}

                                        {% ifhasright 'communication.models.Display' user 'LIST' %}
                                            <li id="menu-communication-display-reservation-related">
                                                <a href="{% url 'communication.views.displayreservation_list_related' %}"><i class="fa fa-lg fa-fw fa-bookmark-o"></i> {% trans "Réservations de mes affichages" %}</a>
                                            </li>
                                            <li id="menu-communication-display-reservation-calendar-related">
                                                <a href="{% url 'communication.views.displayreservation_calendar_related' %}"><i class="fa fa-lg fa-fw fa-calendar-o"></i> {% trans "Calendrier des réservation de mes affichages" %}</a>
                                            </li>
                                        {% endifhasright %}

                                        {% cache 900 "leftmenu-links-communication-display" %}
                                            {% display_links_for_menu "/communication/display/" %}
                                        {% endcache %}
                                    </ul>
                                </li>
                            {% endifhasright %}

                            <li id="menu-communication-logo-public">
                                <a href="{% url 'communication.views.logo_public_list' %}"><i class="fa fa-lg fa-fw fa-picture-o"></i> {% trans "Logos" %}</a>
                            </li>
                            {% ifhasright 'communication.models.Logo' user 'LIST' %}
                                <li id="menu-communication-logo">
                                    <a href="{% url 'communication.views.logo_list' %}"><i class="fa fa-lg fa-fw fa-picture-o"></i> {% trans "Gestion des logos" %}</a>
                                </li>
                            {% endifhasright %}

                            {% cache 900 "leftmenu-links-communication" %}
                                {% display_links_for_menu "/communication/" %}
                            {% endcache %}
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-lg fa-fw fa-truck"></i> <span class="menu-item-parent">{% trans "Logistique" %}</span></a>
                        <ul>
                            {% ifhasright 'logistics.models.SupplyReservation' user 'LIST' %}
                                <li>
                                    <a href="#"><i class="fa fa-lg fa-fw fa-umbrella"></i> {% trans "Matériel" %}</a>

                                    <ul class="subsub-menu">

                                        {% ifhasright 'logistics.models.SupplyReservation' user 'LIST' %}
                                            <li id="menu-logistics-supply-reservation">
                                                <a href="{% url 'logistics.views.supplyreservation_list' %}"><i class="fa fa-lg fa-fw fa-bookmark"></i> {% trans "Réservations de matériel" %}</a>
                                            </li>
                                            <li id="menu-logistics-supply-reservation-calendar">
                                                <a href="{% url 'logistics.views.supplyreservation_calendar' %}"><i class="fa fa-lg fa-fw fa-calendar"></i> {% trans "Calendrier de mes réservations" %}</a>
                                            </li>
                                        {% endifhasright %}

                                        {% ifhasright 'logistics.models.SupplyReservation' user 'CREATE' %}
                                            <li id="menu-logistics-supply-reservation-directory">
                                                <a href="{% url 'logistics.views.supplyreservation_directory' %}"><i class="fa fa-lg fa-fw fa-folder"></i> {% trans "Liste du matériel" %}</a>
                                            </li>
                                        {% endifhasright %}

                                        {% ifhasright 'logistics.models.Supply' user 'LIST' %}
                                            <li id="menu-logistics-supply">
                                                <a href="{% url 'logistics.views.supply_list' %}"><i class="fa fa-lg fa-fw fa-umbrella"></i> {% trans "Gestion du matériel" %}</a>
                                            </li>
                                        {% endifhasright %}

                                        {% ifhasright 'logistics.models.Supply' user 'LIST' %}
                                            <li id="menu-logistics-supply-reservation-related">
                                                <a href="{% url 'logistics.views.supplyreservation_list_related' %}"><i class="fa fa-lg fa-fw fa-bookmark-o"></i> {% trans "Réservations de mon matériel" %}</a>
                                            </li>
                                            <li id="menu-logistics-supply-reservation-calendar-related">
                                                <a href="{% url 'logistics.views.supplyreservation_calendar_related' %}"><i class="fa fa-lg fa-fw fa-calendar-o"></i> {% trans "Calendrier des réservation de mon matériel" %}</a>
                                            </li>
                                        {% endifhasright %}

                                        {% cache 900 "leftmenu-links-logistics-supply" %}
                                            {% display_links_for_menu "/logistics/supply/" %}
                                        {% endcache %}
                                    </ul>
                                </li>
                            {% endifhasright %}

                            {% ifhasright 'logistics.models.RoomReservation' user 'LIST' %}
                                <li>
                                    <a href="#"><i class="fa fa-lg fa-fw fa-hospital"></i> {% trans "Salles" %}</a>

                                    <ul class="subsub-menu">

                                        {% ifhasright 'logistics.models.RoomReservation' user 'LIST' %}
                                            <li id="menu-logistics-room-reservation">
                                                <a href="{% url 'logistics.views.roomreservation_list' %}"><i class="fa fa-lg fa-fw fa-bookmark"></i> {% trans "Réservations de salle" %}</a>
                                            </li>
                                            <li id="menu-logistics-room-reservation-calendar">
                                                <a href="{% url 'logistics.views.roomreservation_calendar' %}"><i class="fa fa-lg fa-fw fa-calendar"></i> {% trans "Calendrier de mes réservations" %}</a>
                                            </li>
                                        {% endifhasright %}
                                        {% ifhasright 'logistics.models.RoomReservation' user 'CREATE' %}
                                            <li id="menu-logistics-room-reservation-directory">
                                                <a href="{% url 'logistics.views.roomreservation_directory' %}"><i class="fa fa-lg fa-fw fa-folder"></i> {% trans "Liste des salles" %}</a>
                                            </li>
                                        {% endifhasright %}

                                        {% ifhasright 'logistics.models.Room' user 'LIST' %}
                                            <li id="menu-logistics-room">
                                                <a href="{% url 'logistics.views.room_list' %}"><i class="fa fa-lg fa-fw fa-hospital"></i> {% trans "Gestion des salles" %}</a>
                                            </li>
                                        {% endifhasright %}

                                        {% ifhasright 'logistics.models.Room' user 'LIST' %}
                                            <li id="menu-logistics-room-reservation-related">
                                                <a href="{% url 'logistics.views.roomreservation_list_related' %}"><i class="fa fa-lg fa-fw fa-bookmark-o"></i> {% trans "Réservations de mes salles" %}</a>
                                            </li>
                                            <li id="menu-logistics-room-reservation-calendar-related">
                                                <a href="{% url 'logistics.views.roomreservation_calendar_related' %}"><i class="fa fa-lg fa-fw fa-calendar-o"></i> {% trans "Calendrier des réservation de mes salles" %}</a>
                                            </li>
                                        {% endifhasright %}

                                        {% cache 900 "leftmenu-links-logistics-rooms" %}
                                            {% display_links_for_menu "/logistics/rooms/" %}
                                        {% endcache %}
                                    </ul>
                                </li>
                            {% endifhasright %}

                            <li>
                                <a href="#"><i class="fa fa-lg fa-fw fa-truck"></i> {% trans "Véhicules" %}</a>

                                <ul class="subsub-menu">

                                    {% ifhasright 'vehicles.models.Booking' user 'LIST' %}
                                        <li id="menu-vehicles-booking">
                                            <a href="{% url 'vehicles.views.booking_list' %}"><i class="fa fa-lg fa-fw fa-ambulance"></i> {% trans "Réservations" %}</a>
                                        </li>
                                    {% endifhasright %}
                                    {% ifhasright 'vehicles.models.Booking' user 'LIST' %}
                                        <li id="menu-vehicles-booking-calendar">
                                            <a href="{% url 'vehicles.views.booking_calendar' %}"><i class="fa fa-lg fa-fw fa-calendar"></i> {% trans "Calendrier de mes réservations" %}</a>
                                        </li>
                                    {% endifhasright %}
                                    {% ifhasright 'vehicles.models.Booking' user 'VALIDATE' %}
                                        <li id="menu-vehicles-booking-calendar-related">
                                            <a href="{% url 'vehicles.views.booking_calendar_related' %}"><i class="fa fa-lg fa-fw fa-calendar-o"></i> {% trans "Calendrier de toutes les réservations" %}</a>
                                        </li>
                                    {% endifhasright %}
                                    {% ifhasright 'vehicles.models.Provider' user 'LIST' %}
                                        <li id="menu-vehicles-provider">
                                            <a href="{% url 'vehicles.views.provider_list' %}"><i class="fa fa-lg fa-fw fa-suitcase"></i> {% trans "Fournisseurs" %}</a>
                                        </li>
                                    {% endifhasright %}
                                    {% ifhasright 'vehicles.models.VehicleType' user 'LIST' %}
                                        <li id="menu-vehicles-type">
                                            <a href="{% url 'vehicles.views.vehicletype_list' %}"><i class="fa fa-lg fa-fw fa-truck"></i> {% trans "Types de véhicules" %}</a>
                                        </li>
                                    {% endifhasright %}
                                    {% ifhasright 'vehicles.models.Card' user 'LIST' %}
                                        <li id="menu-vehicles-cards">
                                            <a href="{% url 'vehicles.views.card_list' %}"><i class="fa fa-lg fa-fw fa-credit-card"></i> {% trans "Cartes" %}</a>
                                        </li>
                                    {% endifhasright %}
                                    {% ifhasright 'vehicles.models.Location' user 'LIST' %}
                                        <li id="menu-vehicles-location">
                                            <a href="{% url 'vehicles.views.location_list' %}"><i class="fa fa-lg fa-fw fa-location-arrow"></i> {% trans "Lieux" %}</a>
                                        </li>
                                    {% endifhasright %}

                                    {% cache 900 "leftmenu-links-logistics-vehicles" %}
                                        {% display_links_for_menu "/logistics/vehicles/" %}
                                    {% endcache %}
                                </ul>
                            </li>

                            {% cache 900 "leftmenu-links-logistics" %}
                                {% display_links_for_menu "/logistics/" %}
                            {% endcache %}

                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-lg fa-fw fa-suitcase"></i> <span class="menu-item-parent">{% trans "Unités & Accreds" %}</span></a>
                        <ul>
                            {% ifhasright 'units.models.Unit' user 'LIST' %}
                                <li id="menu-units-units">
                                    <a href="{% url 'units.views.unit_list' %}"><i class="fa fa-lg fa-fw fa-group"></i> {% trans "Unités" %}</a>
                                </li>
                            {% endifhasright %}
                            {% ifhasright 'units.models.Role' user 'LIST' %}
                                <li id="menu-units-roles">
                                    <a href="{% url 'units.views.role_list' %}"><i class="fa fa-lg fa-fw fa-group"></i> {% trans "Rôles" %}</a>
                                </li>
                            {% endifhasright %}
                            {% ifhasright 'units.models.Accreditation' user 'LIST' %}
                                <li id="menu-units-accreds">
                                    <a href="{% url 'units.views.accreds_list' %}"><i class="fa fa-lg fa-fw fa-key"></i> {% trans "Accréditations" %}</a>
                                </li>
                            {% endifhasright %}
                            {% ifhasright 'units.models.AccessDelegation' user 'LIST' %}
                                <li id="menu-units-delegations">
                                    <a href="{% url 'units.views.accessdelegation_list' %}"><i class="fa fa-lg fa-fw fa-key"></i> {% trans "Délégations d'accès" %}</a>
                                </li>
                            {% endifhasright %}
                            {% ifhasright 'members.models.MemberSet' user 'LIST' %}
                                <li id="menu-members-memberset">
                                    <a href="{% url 'members.views.memberset_list' %}"><i class="fa fa-lg fa-fw fa-male"></i> {% trans "Membres de l'unité" %}</a>
                                </li>
                            {% endifhasright %}

                            {% cache 900 "leftmenu-links-units" %}
                                {% display_links_for_menu "/units/" %}
                            {% endcache %}
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-lg fa-fw fa-dollar"></i> <span class="menu-item-parent">{% trans "Finances" %}</span></a>
                        <ul>
                            <li>
                                <a href="#"><i class="fa fa-lg fa-fw fa-dollar"></i> {% trans "Comptabilité" %}</span></a>
                                <ul>
                                    {% ifhasright 'accounting_main.models.AccountingLine' user 'LIST' %}
                                        <li id="menu-compta-compta">
                                            <a href="{% url 'accounting_main.views.accountingline_list' %}"><i class="fa fa-lg fa-fw fa-ellipsis-horizontal"></i> {% trans "Ma compta" %}</a>
                                        </li>
                                    {% endifhasright %}
                                    {% ifhasright 'accounting_main.models.AccountingError' user 'LIST' %}
                                        <li id="menu-compta-errors">
                                            <a href="{% url 'accounting_main.views.accountingerror_list' %}"><i class="fa fa-lg fa-fw fa-warning"></i> {% trans "Erreurs" %}</a>
                                        </li>
                                    {% endifhasright %}
                                    {% ifhasright 'accounting_main.models.AccountingLine' user 'IMPORT' %}
                                        <li id="menu-compta-import">
                                            <a href="{% url 'accounting_main.views.accounting_import_step0' %}"><i class="fa-lg fa-fw glyphicon glyphicon-import"></i> {% trans "Importer la compta" %}</a>
                                        </li>
                                    {% endifhasright %}

                                    {% cache 900 "leftmenu-links-accounting-accounting" %}
                                        {% display_links_for_menu "/accounting/accounting" %}
                                    {% endcache %}
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-lg fa-fw fa-wrench"></i> {% trans "Outils" %}</span></a>
                                <ul>
                                    {% ifhasright 'accounting_tools.models.InternalTransfer' user 'LIST' %}
                                        <li id="menu-compta-transfert">
                                            <a href="{% url 'accounting_tools.views.internaltransfer_list' %}"><i class="fa fa-lg fa-fw fa-exchange"></i> {% trans "Transferts internes" %}</a>
                                        </li>
                                    {% endifhasright %}
                                    {% ifhasright 'accounting_tools.models.Withdrawal' user 'LIST' %}
                                        <li id="menu-compta-rcash">
                                            <a href="{% url 'accounting_tools.views.withdrawal_list' %}"><i class="fa fa-lg fa-fw fa-share-square-o"></i> {% trans "Retraits cash" %}</a>
                                        </li>
                                    {% endifhasright %}
                                    {% ifhasright 'accounting_tools.models.Invoice' user 'LIST' %}
                                        <li id="menu-compta-invoice">
                                            <a href="{% url 'accounting_tools.views.invoice_list' %}"><i class="fa fa-lg fa-fw fa-pencil-square-o"></i> {% trans "Factures (Client)" %}</a>
                                        </li>
                                    {% endifhasright %}
                                    
  			            {% ifhasright 'accounting_tools.models.ProviderInvoice' user 'LIST' %}
                                        <li id="menu-compta-provider-invoice">
                                            <a href="{% url 'accounting_tools.views.providerinvoice_list' %}"><i class="fa fa-lg fa-fw fa-pencil-square-o"></i> {% trans "Factures (Fournisseur)" %}</a>
                                        </li>
                                    {% endifhasright %}
                                   
  			            {% ifhasright 'accounting_tools.models.FinancialProvider' user 'LIST' %}
                                        <li id="menu-compta-financial-provider">
                                            <a href="{% url 'accounting_tools.views.financialprovider_list' %}"><i class="fa fa-lg fa-fw fa-pencil-square-o"></i> {% trans "Fournisseurs" %}</a>
                                        </li>
                                    {% endifhasright %}

                                    {% ifhasright 'accounting_main.models.Budget' user 'LIST' %}
                                        <li id="menu-compta-budget">
                                            <a href="{% url 'accounting_main.views.budget_list' %}"><i class="fa fa-lg fa-fw fa-briefcase"></i> {% trans "Budgets" %}</a>
                                        </li>
                                    {% endifhasright %}

                                    {% cache 900 "leftmenu-links-accounting-tools" %}
                                        {% display_links_for_menu "/accounting/tools" %}
                                    {% endcache %}
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-lg fa-fw fa-edit"></i> {% trans "Justifications" %}</span></a>
                                <ul>
                                    <li id="menu-compta-ndf">
                                        {% ifhasright 'accounting_tools.models.ExpenseClaim' user 'LIST' %}
                                            <a href="{% url 'accounting_tools.views.expenseclaim_list' %}"><i class="fa fa-lg fa-fw fa-pencil-square-o"></i> {% trans "Notes de frais" %}</a>
                                        {% endifhasright %}
                                    </li>
                                    {% ifhasright 'accounting_tools.models.CashBook' user 'LIST' %}
                                        <li id="menu-compta-jdc">
                                            <a href="{% url 'accounting_tools.views.cashbook_list' %}"><i class="fa fa-lg fa-fw fa-pencil-square-o"></i> {% trans "Journaux de caisse" %}</a>
                                        </li>
                                    {% endifhasright %}

                                    {% cache 900 "leftmenu-links-accounting-proofs" %}
                                        {% display_links_for_menu "/accounting/proofs" %}
                                    {% endcache %}
                                </ul>
                            </li>
                            {% ifhasright 'accounting_tools.models.Subvention' user 'LIST' %}
                                <li id="menu-compta-subventions">
                                    <a href="{% url 'accounting_tools.views.subvention_list' %}"><i class="fa fa-lg fa-fw fa-gift"></i> {% trans "Demandes de subvention" %}</a>
                                </li>
                            {% endifhasright %}
                            <li>
                                <a href="#"><i class="fa fa-lg fa-fw fa-gear"></i> {% trans "Gestion" %}</span></a>
                                <ul>
                                    {% ifhasright 'accounting_core.models.AccountingYear' user 'LIST' %}
                                        <li id="menu-compta-anneecomptable">
                                            <a href="{% url 'accounting_core.views.accountingyear_list' %}"><i class="fa fa-lg fa-fw fa-calendar-o"></i> {% trans "Années Comptables" %}</a>
                                        </li>
                                    {% endifhasright %}
                                    {% ifhasright 'accounting_core.models.CostCenter' user 'LIST' %}
                                        <li id="menu-compta-centrecouts">
                                            <a href="{% url 'accounting_core.views.costcenter_list' %}"><i class="fa fa-lg fa-fw fa-suitcase"></i> {% trans "Centres de coût" %}</a>
                                        </li>
                                    {% endifhasright %}
                                    {% ifhasright 'accounting_core.models.Account' user 'LIST' %}
                                        <li id="menu-compta-comptesCG">
                                            <a href="{% url 'accounting_core.views.account_list' %}"><i class="fa fa-lg fa-fw fa-money"></i> {% trans "Comptes de CG" %}</a>
                                        </li>
                                    {% endifhasright %}
                                    {% ifhasright 'accounting_core.models.AccountCategory' user 'LIST' %}
                                        <li id="menu-compta-categoriescompteCG">
                                            <a href="{% url 'accounting_core.views.accountcategory_list' %}"><i class="fa fa-lg fa-fw fa-folder-open"></i> {% trans "Catégories des comptes" %}</a>
                                        </li>
                                    {% endifhasright %}
                                    {% ifhasright 'accounting_core.models.TVA' user 'LIST' %}
                                        <li id="menu-compta-tva">
                                            <a href="{% url 'accounting_core.views.tva_list' %}"><i class="fa fa-lg fa-fw fa-filter"></i> {% trans "TVAs" %}</a>
                                        </li>
                                    {% endifhasright %}

                                    {% cache 900 "leftmenu-links-accounting-gestion" %}
                                        {% display_links_for_menu "/accounting/gestion" %}
                                    {% endcache %}
                                </ul>
                            </li>

                            {% ifhasright 'main.models.File' user '!LIST_ACCOUNTING' %}
                                <li id="menu-_files-accounting">
                                    <a href="{% url 'main.views.file_download_list' %}?group=accounting"><i class="fa fa-lg fa-fw fa-file-text-o"></i> {% trans "Fichiers" %}</a>
                                </li>
                            {% endifhasright %}

                            {% cache 900 "leftmenu-links-accounting" %}
                                {% display_links_for_menu "/accounting/" %}
                            {% endcache %}
                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-lg fa-fw fa-laptop"></i> <span class="menu-item-parent">{% trans "Informatique" %}</span></a>
                        <ul>
                            {% ifhasright 'main.models.File' user '!LIST_CS' %}
                                <li id="menu-_files-cs">
                                    <a href="{% url 'main.views.file_download_list' %}?group=cs"><i class="fa fa-lg fa-fw fa-file-text-o"></i> {% trans "Fichiers" %}</a>
                                </li>
                            {% endifhasright %}

                            {% cache 900 "leftmenu-links-cs" %}
                                {% display_links_for_menu "/cs/" %}
                            {% endcache %}
                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-lg fa-fw fa-square-o"></i> <span class="menu-item-parent">{% trans "Divers" %}</span></a>
                        <ul>
                            {% ifhasright 'main.models.Link' user '!SHOW_BASE' %}
                                <li id="menu-misc-link-base">
                                    <a href="{% url 'main.views.link_base' %}"><i class="fa fa-lg fa-fw fa-link"></i> {% trans "Liens" %}</a>
                                </li>
                            {% endifhasright %}

                            {% ifhasright 'main.models.Link' user 'LIST' %}
                                <li id="menu-misc-links">
                                    <a href="{% url 'main.views.link_list' %}"><i class="fa fa-lg fa-fw fa-link"></i> {% trans "Gestion des liens" %}</a>
                                </li>
                            {% endifhasright %}

                            {% ifhasright 'main.models.File' user '!LIST_MISC' %}
                                <li id="menu-_files-misc">
                                    <a href="{% url 'main.views.file_download_list' %}?group=misc"><i class="fa fa-lg fa-fw fa-file-text-o"></i> {% trans "Fichiers" %}</a>
                                </li>
                            {% endifhasright %}

                            {% ifhasright 'main.models.File' user 'LIST' %}
                                <li id="menu-misc-files">
                                    <a href="{% url 'main.views.file_list' %}"><i class="fa fa-lg fa-fw fa-file-text-o"></i> {% trans "Gestion des fichiers" %}</a>
                                </li>
                            {% endifhasright %}

                            {% ifhasright 'main.models.SignableDocument' user 'LIST' %}
                                <li id="menu-misc-documents">
                                    <a href="{% url 'main.views.signabledocument_list' %}"><i class="fa fa-lg fa-fw fa-file-text-o"></i> {% trans "Gestion des documents à signer" %}</a>
                                </li>
                            {% endifhasright %}

                            <li id="menu-misc-mydocuments">
                                <a href="{% url 'main.views.signabledocument_signs' %}"><i class="fa fa-lg fa-fw fa-thumbs-up"></i> {% trans "Documents à signer" %}</a>
                            </li>

                            {% cache 900 "leftmenu-links-misc" %}
                                {% display_links_for_menu "/misc/" %}
                            {% endcache %}
                        </ul>
                    </li>
                    <li id="menu-notifications">
                        <a href="{% url 'notifications.views.notification_center' %}">
                            <i class="fa fa-lg fa-fw fa-bell"></i>
                            <span class="menu-item-parent">{% trans "Centre de notifications" %}</span>
                        </a>
                    </li>

                    {% cache 900 "leftmenu-links-main-bottom" %}
                        {% display_links_for_menu "/main/bottom" %}
                    {% endcache %}
                </ul>
            </nav>

            <span class="minifyme"> <i class="fa fa-arrow-circle-left hit"></i> </span>
            <img class="menulogo" src="{{MEDIA_URL}}img/agep_logo_menu.png">

        </aside>
        <!-- END NAVIGATION -->

        <!-- MAIN PANEL -->
        <div id="main" role="main">

            <!-- RIBBON -->
            <div id="ribbon">

                <!-- breadcrumb -->
                <ol class="breadcrumb">
                    {% block ribbon %}
                        <li><a href="{% url 'main.views.home' %}"><i class="fa fa-home"></i> {% trans "Accueil" %}</a></li>
                    {% endblock %}
                </ol>
                <!-- end breadcrumb -->

            </div>
            <!-- END RIBBON -->

            <!-- MAIN CONTENT -->
            <div id="content">

                {% if user and user.pk and not user.is_profile_ok %}
                    <div class="alert alert-danger">
                        {% trans "Ton profil n'est pas correctement rempli : il faut au moins indiquer ton téléphone portable, ton adresse, ta banque et ton IBAN !" %}

                        <a href="{% url 'users.views.users_profile' user.pk %}" class="btn btn-xs btn-primary">{% trans "Modifier" %}</a>
                    </div>
                {% endif %}

                {% block content %}
                {% endblock %}

                <div class="footer">&copy; Copyright 2016: Maximilien Cuony, Lionel Martin et <a href="https://github.com/ArcaniteSolutions/truffe2/graphs/contributors" target="_blank">{% trans "contributeurs" %}</a> - BSD - <a href="https://github.com/ArcaniteSolutions/truffe2">Fork me on github !</a><br />
                    {% trans "Développé pour l'" %}<a href="https://agepoly.ch">AGEPoly</a> {% trans "avec" %} <a href="https://www.djangoproject.com/">Django</a> - {% trans "Soutien technique partiel par" %} <a href="https://polylan.ch">PolyLAN</a>
                    <hr style="clear: both; visibility: hidden;">
                </div>
            </div>
            <!-- END MAIN CONTENT -->

        </div>
        <!-- END MAIN PANEL -->

        <!--================================================== -->

        <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
        <script data-pace-options='{ "restartOnRequestAfter": true }' src="{{MEDIA_URL}}js/plugin/pace/pace.min.js"></script>

        <!-- BOOTSTRAP JS -->
        <script src="{{MEDIA_URL}}js/bootstrap/bootstrap.min.js"></script>

        <!-- CUSTOM NOTIFICATION -->
        <script src="{{MEDIA_URL}}js/notification/SmartNotification.min.js"></script>

        <!-- JARVIS WIDGETS -->
        <script src="{{MEDIA_URL}}js/smartwidgets/jarvis.widget.min.js"></script>

        <!-- EASY PIE CHARTS -->
        <script src="{{MEDIA_URL}}js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

        <!-- JQUERY SELECT2 INPUT -->
        <script src="{{MEDIA_URL}}js/plugin/select2/select2.min.js"></script>

        <!-- JQUERY UI + Bootstrap Slider -->
        <script src="{{MEDIA_URL}}js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

        <!-- browser msie issue fix -->
        <script src="{{MEDIA_URL}}js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

        <!-- FastClick: For mobile devices -->
        <script src="{{MEDIA_URL}}js/plugin/fastclick/fastclick.js"></script>

        <script src="{{MEDIA_URL}}js/arrive.min.js"></script>

        <!--[if IE 7]>
        <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
        <![endif]-->

        <!-- MAIN APP JS FILE -->
        <script src="{{MEDIA_URL}}js/app.js"></script>

        <script src="{{MEDIA_URL}}js/truffe.js"></script>

        <script type="text/javascript">

            var CURRENT_MENU = '{% block menuid %}{% endblock %}';

            if (CURRENT_MENU != '')
                activate_menu(CURRENT_MENU);

            $(document).ready(function() {

                pageSetUp();

                {% if messages %}
                    {% for message in messages %}
                        $.smallBox({
                            title : "{{message}}",
                            content : "",
                            color : "{% if message.tags == "success" %}#739E73{% endif %}{% if message.tags == "warning" %}#C79121{% endif %}{% if message.tags == "error" %}#C46A69{% endif %}{% if message.tags == "info" %}#3276B1{% endif %}",
                            iconSmall : "fa fa-{% if message.tags == "success" %}check{% endif %}{% if message.tags == "warning" %}warning{% endif %}{% if message.tags == "error" %}warning{% endif %}{% if message.tags == "info" %}info{% endif %} bounce animated",
                            timeout : 10000,
                            sound: false
                        });
                    {% endfor %}

                {% endif %}
            })

            function notification_ignore(pk) {
                $.ajax('{% url 'notifications.views.dropdown' %}?read=' + pk).done(function(data) {$('#activity').next('.ajax-dropdown').html(data); });
            }

            function mark_all_as_ok() {
                $.ajax('{% url 'notifications.views.dropdown' %}?allread=jeu').done(function(data) {$('#activity').next('.ajax-dropdown').html(data); });

            }

        </script>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-685270-4', 'auto');
            ga('send', 'pageview');

        </script>
    </body>

</html>
