{% load i18n %}
{% load rights_extras %}
<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

        <title>{% block title %}Truffe{% endblock %}</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Basic Styles -->
        <link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}css/font-awesome.min.css">

        <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
        <link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}css/smartadmin-production.css">
        <link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}css/smartadmin-skins.css">

        <link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}css/lightbox.css">

        <link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}css/truffe.css">

        <!-- FAVICONS -->
        <link rel="shortcut icon" href="{{MEDIA_URL}}img/favicon/favicon.png" type="image/x-icon">
        <link rel="icon" href="{{MEDIA_URL}}img/favicon/favicon.png" type="image/x-icon">

        <!-- GOOGLE FONT -->
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

        <script src="{{MEDIA_URL}}js/libs/jquery-2.0.2.min.js"></script>
        <script src="{{MEDIA_URL}}js/libs/jquery-ui-1.10.3.min.js"></script>
        <script src="{{MEDIA_URL}}js/plugin/jquery-form/jquery-form.min.js"></script>
        <script src="{{MEDIA_URL}}js/d3.min.js"></script>
        <script src="{{MEDIA_URL}}js/lightbox.min.js"></script>

    </head>
    <body class="fixed-ribbon fixed-header {% if user.body == 'm' %}minified{% endif %}{% if user.body == 'h' %}hidden-menu{% endif %}">

        <!-- HEADER -->
        <header id="header">
            <div id="logo-group">

              <!-- Squares: http://www.thenounproject.com/term/stop/23031/ -->
              <span id="logo"> <img src="{{MEDIA_URL}}img/logo.png" alt="Truffe"> </span>
                <!-- END LOGO PLACEHOLDER -->

                <span id="activity" class="activity-dropdown" url="{% url 'notifications.views.dropdown' %}">
                    <i class="fa fa-bell"></i>
                    <b class="badge bounceIn animated">{{notifications_count}}</b>

                </span>

                <div class="ajax-dropdown"></div>
            </div>

                <span style="font-weight: bold; font-size: 140%; color: #FF2383; margin-top: 30px; padding-top: 15px; margin-left: 40px; text-decoration: underline;">ATTENTION - APPLICATION EN COURS DE DEVELOPEMENT</span>
<!--             <!&#45;&#45; projects dropdown &#45;&#45;> -->
<!--             <div id="project&#45;context"> -->
<!--  -->
<!--                 <span class="label">Projects:</span> -->
<!--                 <span id="project&#45;selector" class="popover&#45;trigger&#45;element dropdown&#45;toggle" data&#45;toggle="dropdown">Recent projects <i class="fa fa&#45;angle&#45;down"></i></span> -->
<!--  -->
<!--                 <!&#45;&#45; Suggestion: populate this list with fetch and push technique &#45;&#45;> -->
<!--                 <ul class="dropdown&#45;menu"> -->
<!--                     <li> -->
<!--                         <a href="javascript:void(0);">Online e&#45;merchant management system &#45; attaching integration with the iOS</a> -->
<!--                     </li> -->
<!--                     <li> -->
<!--                         <a href="javascript:void(0);">Notes on pipeline upgradee</a> -->
<!--                     </li> -->
<!--                     <li> -->
<!--                         <a href="javascript:void(0);">Assesment Report for merchant account</a> -->
<!--                     </li> -->
<!--                     <li class="divider"></li> -->
<!--                     <li> -->
<!--                         <a href="javascript:void(0);"><i class="fa fa&#45;power&#45;off"></i> Clear</a> -->
<!--                     </li> -->
<!--                 </ul> -->
<!--                 <!&#45;&#45; end dropdown&#45;menu&#45;&#45;> -->
<!--  -->
<!--             </div> -->
<!--             <!&#45;&#45; end projects dropdown &#45;&#45;> -->

            <!-- pulled right: nav area -->
            <div class="pull-right">

                <!-- collapse menu button -->
                <div id="hide-menu" class="btn-header pull-right">
                    <span> <a href="javascript:void(0);" title="{% trans "Cacher le menu" %}"><i class="fa fa-reorder"></i></a> </span>
                </div>
                <!-- end collapse menu -->

                <!-- logout button -->
                <div id="logout" class="btn-header transparent pull-right">
                    <span> <a href="{% url 'django.contrib.auth.views.logout' %}" title="{% trans "Logout" %}"><i class="fa fa-sign-out"></i></a> </span>
                </div>
                <!-- end logout button -->

<!--                 <!&#45;&#45; search mobile button (this is hidden till mobile view port) &#45;&#45;> -->
<!--                 <div id="search&#45;mobile" class="btn&#45;header transparent pull&#45;right"> -->
<!--                     <span> <a href="javascript:void(0)" title="Search"><i class="fa fa&#45;search"></i></a> </span> -->
<!--                 </div> -->
<!--                 <!&#45;&#45; end search mobile button &#45;&#45;> -->
<!--  -->
<!--                 <!&#45;&#45; input: search field &#45;&#45;> -->
<!--                 <form action="#search.html" class="header&#45;search pull&#45;right"> -->
<!--                     <input type="text" placeholder="Find reports and more" id="search&#45;fld"> -->
<!--                     <button type="submit"> -->
<!--                         <i class="fa fa&#45;search"></i> -->
<!--                     </button> -->
<!--                     <a href="javascript:void(0);" id="cancel&#45;search&#45;js" title="Cancel Search"><i class="fa fa&#45;times"></i></a> -->
<!--                 </form> -->
<!--                 <!&#45;&#45; end input: search field &#45;&#45;> -->

            </div>
            <!-- end pulled right: nav area -->

        </header>
        <!-- END HEADER -->

        <!-- Left panel : Navigation area -->
        <aside id="left-panel">

            <!-- User info -->
            <div class="login-info">
                <span>
                    {% if user and user.pk %}
                        <a href="{% url 'users.views.users_profile' user.pk %}">
                            <img src="{% url 'users.views.users_profile_picture' user.pk %}" alt="" class="online" />
                            <span>
                                {{user.get_full_name}}
                            </span>
                        </a>
                    {% endif %}
                </span>
            </div>
            <!-- end user info -->
            <nav>
                <ul>
                    <li id="menu-home">
                        <a href="{% url 'main.views.home' %}" title="{% trans "Acceuil" %}"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">{% trans "Acceuil" %}</span></a>
                    </li>

                    <li>
                        <a href="https://truffe.polylan.ch" title="{% trans "Retourner sur Truffe 1" %}"><i class="fa fa-lg fa-fw fa-backward"></i> <span class="menu-item-parent">{% trans "Retourner sur Truffe 1" %}</span></a>
                    </li>
                    {% if user.is_superuser or user.is_impersonate %}
                        <li>
                            <a href="#"><i class="fa fa-lg fa-fw fa-legal"></i> <span class="menu-item-parent">{% trans "Admin" %}</span></a>
                            <ul>
                                <li id="menu-impersonate">
                                    {% if not user.is_impersonate %}
                                        <a href="{% url 'impersonate-search' %}"><i class="fa fa-lg fa-fw fa-male"></i> {% trans "Impersonate" %}</a>
                                    {% else %}
                                        <a href="{% url 'impersonate-stop' %}"><i class="fa fa-lg fa-fw fa-male fa-spin"></i> {% trans "Stop Impersonate" %}</a>
                                    {% endif %}
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    <li>
                        <a href="#"><i class="fa fa-lg fa-fw fa-group"></i> <span class="menu-item-parent">{% trans "Gens" %}</span></a>
                        <ul>
                            <li id="menu-gens-annuaire">
                                <a href="{% url 'users.views.users_list' %}"><i class="fa fa-lg fa-fw fa-group"></i> {% trans "Annuaire global" %}</a>
                            </li>
                            {% if user and user.pk %}
                                <li id="menu-gens-monprofile">
                                    <a href="{% url 'users.views.users_profile' user.pk %}"><i class="fa fa-lg fa-fw fa-user"></i> {% trans "Mon profile" %}</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-lg fa-fw fa-bullhorn"></i> <span class="menu-item-parent">{% trans "Communication" %}</span></a>
                        <ul>
                            {% ifhasright 'main.models.HomePageNews' user 'LIST' %}
                                <li id="menu-communication-homepagenews">
                                    <a href="{% url 'main.views.homepagenews_list' %}"><i class="fa fa-lg fa-fw fa-home"></i> {% trans "News truffe" %}</a>
                                </li>
                            {% endifhasright %}
                            {% ifhasright 'communication.models.WebsiteNews' user 'LIST' %}
                                <li id="menu-communication-websitenews">
                                    <a href="{% url 'communication.views.websitenews_list' %}"><i class="fa fa-lg fa-fw fa-home"></i> {% trans "News du site de l'AGEPoly" %}</a>
                                </li>
                            {% endifhasright %}

                            {% ifhasright 'communication.models.AgepSlide' user 'LIST' %}
                                <li id="menu-communication-agepslide">
                                    <a href="{% url 'communication.views.agepslide_list' %}"><i class="fa fa-lg fa-fw fa-home"></i> {% trans "Slides des écrans de l'AGEPoly" %}</a>
                                </li>
                            {% endifhasright %}
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-lg fa-fw fa-truck"></i> <span class="menu-item-parent">{% trans "Logistique" %}</span></a>
                        <ul>
                            {% ifhasright 'logistics.models.RoomReservation' user 'LIST' %}
                                <li>
                                    <a href="#"><i class="fa fa-lg fa-fw fa-hospital"></i> {% trans "Salles" %}</a>

                                    <ul class="subsub-menu">

                                        {% ifhasright 'logistics.models.RoomReservation' user 'LIST' %}
                                            <li id="menu-logistics-room-reservation">
                                                <a href="{% url 'logistics.views.roomreservation_list' %}"><i class="fa fa-lg fa-fw fa-bookmark"></i> {% trans "Réservations de salle" %}</a>
                                            </li>
                                            <li id="menu-logistics-room-reservation-calendar">
                                                <a href="{% url 'logistics.views.roomreservation_calendar_list' %}"><i class="fa fa-lg fa-fw fa-calendar"></i> {% trans "Calendrier des réservations" %}</a>
                                            </li>
                                        {% endifhasright %}

                                        {% ifhasright 'logistics.models.Room' user 'LIST' %}
                                            <li id="menu-logistics-room">
                                                <a href="{% url 'logistics.views.room_list' %}"><i class="fa fa-lg fa-fw fa-hospital"></i> {% trans "Gestion des salles" %}</a>
                                            </li>
                                        {% endifhasright %}

                                        {% ifhasright 'logistics.models.Room' user 'LIST' %}
                                            <li id="menu-logistics-room-reservation-related">
                                                <a href="{% url 'logistics.views.roomreservation_list_related' %}"><i class="fa fa-lg fa-fw fa-bookmark-o"></i> {% trans "Réservations de mes salles" %}</a>
                                            </li>
                                            <li id="menu-logistics-room-reservation-calendar-related">
                                                <a href="{% url 'logistics.views.roomreservation_calendar_list_related' %}"><i class="fa fa-lg fa-fw fa-calendar-o"></i> {% trans "Calendrier des réservation de mes salles" %}</a>
                                            </li>
                                        {% endifhasright %}
                                    </ul>
                                </li>
                            {% endifhasright %}

                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-lg fa-fw fa-suitcase"></i> <span class="menu-item-parent">{% trans "Unités&Acreds" %}</span></a>
                        <ul>
                            {% ifhasright 'units.models.Unit' user 'LIST' %}
                                <li id="menu-units-units">
                                    <a href="{% url 'units.views.unit_list' %}"><i class="fa fa-lg fa-fw fa-group"></i> {% trans "Unités" %}</a>
                                </li>
                            {% endifhasright %}
                            {% ifhasright 'units.models.Role' user 'LIST' %}
                                <li id="menu-units-roles">
                                    <a href="{% url 'units.views.role_list' %}"><i class="fa fa-lg fa-fw fa-group"></i> {% trans "Roles" %}</a>
                                </li>
                            {% endifhasright %}
                            {% ifhasright 'units.models.Accreditation' user 'LIST' %}
                                <li id="menu-units-accreds">
                                    <a href="{% url 'units.views.accreds_list' %}"><i class="fa fa-lg fa-fw fa-key"></i> {% trans "Accréditations" %}</a>
                                </li>
                            {% endifhasright %}
                            {% ifhasright 'units.models.AccessDelegation' user 'LIST' %}
                                <li id="menu-units-delegations">
                                    <a href="{% url 'units.views.accessdelegation_list' %}"><i class="fa fa-lg fa-fw fa-key"></i> {% trans "Délégations d'accès" %}</a>
                                </li>
                            {% endifhasright %}
                        </ul>
                    </li>

                    <li id="menu-notifications">
                        <a href="{% url 'notifications.views.notification_center' %}">
                            <i class="fa fa-lg fa-fw fa-bell"></i>
                            <span class="menu-item-parent">{% trans "Centre de notifications" %}</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <span class="minifyme"> <i class="fa fa-arrow-circle-left hit"></i> </span>

        </aside>
        <!-- END NAVIGATION -->

        <!-- MAIN PANEL -->
        <div id="main" role="main">

            <!-- RIBBON -->
            <div id="ribbon">

                <!-- breadcrumb -->
                <ol class="breadcrumb">
                    {% block ribbon %}
                      <li><a href="{% url 'main.views.home' %}"><i class="fa fa-home"></i> {% trans "Acceuil" %}</a></li>
                    {% endblock %}
                </ol>
                <!-- end breadcrumb -->

            </div>
            <!-- END RIBBON -->

            <!-- MAIN CONTENT -->
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
            <!-- END MAIN CONTENT -->

        </div>
        <!-- END MAIN PANEL -->

        <div class="footer">&copy; Copyright 2014 AGEPoly / Maximilien Cuony - Lionel Martin - Yann Beaud / PolyLAN</div>

        <!--================================================== -->

        <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
        <script data-pace-options='{ "restartOnRequestAfter": true }' src="{{MEDIA_URL}}js/plugin/pace/pace.min.js"></script>
        <!-- JS TOUCH : include this plugin for mobile drag / drop touch events
        <script src="{{MEDIA_URL}}js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->

        <!-- BOOTSTRAP JS -->
        <script src="{{MEDIA_URL}}js/bootstrap/bootstrap.min.js"></script>

        <!-- CUSTOM NOTIFICATION -->
        <script src="{{MEDIA_URL}}js/notification/SmartNotification.min.js"></script>

        <!-- JARVIS WIDGETS -->
        <script src="{{MEDIA_URL}}js/smartwidgets/jarvis.widget.min.js"></script>

        <!-- EASY PIE CHARTS -->
        <script src="{{MEDIA_URL}}js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

        <!-- SPARKLINES -->
        <script src="{{MEDIA_URL}}js/plugin/sparkline/jquery.sparkline.min.js"></script>

        <!-- JQUERY VALIDATE -->
        <script src="{{MEDIA_URL}}js/plugin/jquery-validate/jquery.validate.min.js"></script>

        <!-- JQUERY MASKED INPUT -->
        <script src="{{MEDIA_URL}}js/plugin/masked-input/jquery.maskedinput.min.js"></script>

        <!-- JQUERY SELECT2 INPUT -->
        <script src="{{MEDIA_URL}}js/plugin/select2/select2.min.js"></script>

        <!-- JQUERY UI + Bootstrap Slider -->
        <script src="{{MEDIA_URL}}js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

        <!-- browser msie issue fix -->
        <script src="{{MEDIA_URL}}js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

        <!-- FastClick: For mobile devices -->
        <script src="{{MEDIA_URL}}js/plugin/fastclick/fastclick.js"></script>

        <!--[if IE 7]>

        <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

        <![endif]-->

        <!-- MAIN APP JS FILE -->
        <script src="{{MEDIA_URL}}js/app.js"></script>

        <script src="{{MEDIA_URL}}js/truffe.js"></script>


        <script type="text/javascript">

        var CURRENT_MENU = '{% block menuid %}{% endblock %}';

        $(document).ready(function() {

            if (CURRENT_MENU != '')
                activate_menu(CURRENT_MENU);

            pageSetUp();

            {% if messages %}
                {% for message in messages %}
                    $.smallBox({
                        title : "{{message}}",
                        content : "",
                        color : "{% if message.tags == "success" %}#739E73{% endif %}{% if message.tags == "warning" %}#C79121{% endif %}{% if message.tags == "error" %}#C46A69{% endif %}{% if message.tags == "info" %}#3276B1{% endif %}",
                        iconSmall : "fa fa-{% if message.tags == "success" %}check{% endif %}{% if message.tags == "warning" %}warning{% endif %}{% if message.tags == "error" %}warning{% endif %}{% if message.tags == "info" %}info{% endif %} bounce animated",
                        timeout : 10000,
                        sound: false
                    });
                {% endfor %}

            {% endif %}
        })

        function notification_ignore(pk) {
            $.ajax('{% url 'notifications.views.dropdown' %}?read=' + pk).done(function(data) {$('#activity').next('.ajax-dropdown').html(data); });
        }

        function mark_all_as_ok() {
            $.ajax('{% url 'notifications.views.dropdown' %}?allread=jeu').done(function(data) {$('#activity').next('.ajax-dropdown').html(data); });

        }



        </script>

        <!-- Your GOOGLE ANALYTICS CODE Below -->
<!--        <script type="text/javascript"> -->
<!--            var _gaq = _gaq || []; -->
<!--                _gaq.push(['_setAccount', 'UA&#45;XXXXXXXX&#45;X']); -->
<!--                _gaq.push(['_trackPageview']); -->
<!--             -->
<!--            (function() { -->
<!--                var ga = document.createElement('script'); -->
<!--                ga.type = 'text/javascript'; -->
<!--                ga.async = true; -->
<!--                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google&#45;analytics.com/ga.js'; -->
<!--                var s = document.getElementsByTagName('script')[0]; -->
<!--                s.parentNode.insertBefore(ga, s); -->
<!--            })(); -->
<!--  -->
<!--        </script> -->

    </body>

</html>
