{% load i18n generic_extras %}

<script type="text/javascript">

    var data_table_{{id}} = undefined;

    function fix_height_{{id}}() {

        var diff = (dtf_{{id}}.find('.select2-container').height() - 31);

        dtf_{{id}}.parents('.widget-body').find('.widget-body-toolbar').css('min-height', 42 + diff + 'px');
        dtf_{{id}}.parent().children().css('top', -38 - diff + 'px');

    }

    var dtf_{{id}} = undefined;


    $(function() { loadDataTableScripts_{{id}}()});

    function loadDataTableScripts_{{id}}() {
        loadScript("{{MEDIA_URL}}js/plugin/datatables/jquery.dataTables-cust.min.js", dt_2_{{id}});

        function dt_2_{{id}}() {
            loadScript("{{MEDIA_URL}}js/plugin/datatables/ColReorder.min.js", dt_3_{{id}});
        }

        function dt_3_{{id}}() {
            loadScript("{{MEDIA_URL}}js/plugin/datatables/dataTables.fixedHeader.js", dt_4_{{id}});
        }

        function dt_4_{{id}}() {
            loadScript("{{MEDIA_URL}}js/plugin/datatables/ColVis.min.js", dt_5_{{id}});
        }

        function dt_5_{{id}}() {
            loadScript("{{MEDIA_URL}}js/plugin/datatables/ZeroClipboard.js", dt_6_{{id}});
        }

        function dt_6_{{id}}() {
            loadScript("{{MEDIA_URL}}js/plugin/datatables/media/js/TableTools.min.js", dt_7_{{id}});
        }

        function dt_7_{{id}}() {
            loadScript("{{MEDIA_URL}}js/plugin/datatables/DT_bootstrap.js", dt_8_{{id}});
        }

        function dt_8_{{id}}() {
            loadScript("{{MEDIA_URL}}js/plugin/select2/select2.min.js", runDataTables_{{id}});
        }
    }

    function runDataTables_{{id}}() {
        data_table_{{id}} = $('#{{id}}').dataTable({

            "oLanguage": {
                "sProcessing":     "{% trans "Traitement en cours..." %}",
                "sLengthMenu":     "_MENU_",
                "sSearch":         "_INPUT_",
                "sInfo":           "{% trans "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments" %}",
                "sInfoEmpty":      "{% trans "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments" %}",
                "sInfoFiltered":   "{% trans "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)" %}",
                "sInfoPostFix":    "",
                "sLoadingRecords": "{% trans "Chargement en cours..." %}",
                "sZeroRecords":    "{% trans "Aucun &eacute;l&eacute;ment &agrave; afficher" %}",
                "sEmptyTable":     "{% trans "Aucune donnée disponible dans le tableau" %}",
                "oPaginate": {
                    "sFirst":      "{% trans "Premier" %}",
                    "sPrevious":   "{% trans "Pr&eacute;c&eacute;dent" %}",
                    "sNext":       "{% trans "Suivant" %}",
                    "sLast":       "{% trans "Dernier" %}"
                },
                "oAria": {
                    "sSortAscending":  "{% trans ": activer pour trier la colonne par ordre croissant" %}",
                    "sSortDescending": "{% trans ": activer pour trier la colonne par ordre décroissant" %}"
                },
            },

            {% if not datatable_simple %}
                "oTableTools" : {
                    {% if not datatable_notools %}
                        "aButtons" : ["copy", "print", {
                            "sExtends" : "collection",
                            "sButtonText" : '{% trans "Exporter" %} <span class="caret" />',
                            "aButtons" : ["csv", "xls", "pdf"]
                        }],
                        "sSwfPath" : "{{MEDIA_URL}}js/plugin/datatables/media/swf/copy_csv_xls_pdf.swf"
                    {% else %}
                        "aButtons" : []
                    {% endif %}
                },
                "aoColumnDefs": [
                    {% if force_last_width %}{ "sWidth": "140px", "aTargets": [{{force_last_width}}] }, {% endif %}
                    {% if force_first_width %}{ "sWidth": "10px", "aTargets": [0] }, {% endif %}
                    {% if force_width %}{% for pos, width in force_width.iteritems %}{ "sWidth": "{{width}}", "aTargets": [{{pos}}] }, {% endfor %} {% endif %}
                ],
                "bAutoWidth": false,
                "bDeferRender": true,
                "bProcessing": true,
                "bServerSide": true,
                "bStateSave": true,
                "sAjaxSource": "{% if json_url_manual %}{{json_url_manual}}{% else %}{% url json_url %}{% endif %}",
                "fnDrawCallback": function(oSettings) {
                    {% if draw_callback %}
                        {{draw_callback}}(oSettings);
                    {% endif %}
                },
                "fnInitComplete" : function(oSettings, json) {
                    $(this).closest('#dt_table_tools_wrapper').find('.DTTT.btn-group').addClass('table_tools_group').children('a.btn').each(function() {
                        $(this).addClass('btn-sm btn-default');
                    });
                },
                "fnServerData": function ( sSource, aoData, fnCallback, oSettings ) {
                    oSettings.jqXHR = $.ajax( {
                        "dataType": 'json',
                        "method": 'POST',
                        "url": sSource + "?__" {% if with_upk %} + "&upk=" + $('.cgroupe').attr('pk'){% endif %}{% if with_ypk %} + "&ypk=" + $('.cyear').attr('pk'){% endif %}{% if with_ctag %} + "&tag=" + $('#ctag').val(){% endif %}{% if with_extradata %} + {{with_extradata}}(){% endif %},
                        "data": aoData,
                        "success": function(data) {
                        if (typeof post_process_data_{{id}} !== 'undefined')
                            data = post_process_data_{{id}}(data);
                        fnCallback(data);
                        }
                    } );
                    },
                "sDom" : "<'dt-top-row'Tlf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
                {% if status_filter and not status_nosort %}
                    "aaSorting": [[{{status_col_id}}, 'asc'], {% if default_sort %}{{default_sort|safe}} {% endif %}],
                {% elif default_sort %}
                    "aaSorting": [{{default_sort|safe}}],
                {% endif %}
            {% else %}
                "aaSorting": [],
            {% endif %}
            "sPaginationType" : "bootstrap_full"
        });

        {% if status_filter %}

            dtf_{{id}} = $('#{{id}}').parent().parent().find('.dataTables_filter');

            var max_w = dtf_{{id}}.parent().width() - 280;

            dtf_{{id}}.css('width', max_w + 'px').append('<select multiple class="select2 status_filter" type="text" placeholder="Status filter" style="position: absolute; top: 0px; left: 185px; min-width: 200px; z-index: 300;">/select>');

            var select_{{id}} = $('#{{id}}').parent().parent().find('.status_filter');

            {% for id_, text in states.iteritems %}
                select_{{id}}.append('<option value="{{id_}}" {% if id_ in status_filter %}selected{% endif %}>{{text|escapejs}}</option>"');
            {% endfor %}

            select_{{id}}.select2().on('change', fix_height_{{id}}); //.css('width', '300px')

            function select2_filter() {
                data_table_{{id}}.fnFilter(select_{{id}}.val(), {{status_col_id}});
            }

            select_{{id}}.on('change', function() {
                select2_filter();
            });

            select2_filter();

            fix_height_{{id}}();
        {% endif %}

        {% if object_filter %}
            $('#{{id}}').parent().parent().find('.dataTables_filter').css('width', '75%').append('<select class="select2 object_filter" type="text" placeholder="{{object_filter_name}}" style="position: absolute; top: 0px; right: 5px; width: 200px;"><option value="">&nbsp;</option>/select>');

            var obj_select_{{id}} = $('#{{id}}').parent().parent().find('.object_filter');

            {% for obj in object_filter %}
                obj_select_{{id}}.append('<option value="{{obj.pk}}">{{obj|escapejs}}</option>"');
            {% endfor %}

            obj_select_{{id}}.select2({allowClear: true});

            function obj_select2_filter_{{id}}() {
                data_table_{{id}}.fnFilter(obj_select_{{id}}.val(), {{object_col_id}});
            }

            obj_select_{{id}}.on('change', function() {
                obj_select2_filter_{{id}}();
            });

            obj_select2_filter();
        {% endif %}

        new $.fn.dataTable.FixedHeader(data_table_{{id}}, {
            "offsetTop": 90
        });
    }
</script>
