{% load i18n generic_extras %}

<script type="text/javascript">
    $(function() { loadDataTableScripts_{{id}}()});

    function loadDataTableScripts_{{id}}() {
        loadScript("{{MEDIA_URL}}js/plugin/datatables/jquery.dataTables-cust.min.js", dt_2_{{id}});

        function dt_2_{{id}}() {
            loadScript("{{MEDIA_URL}}js/plugin/datatables/ColReorder.min.js", dt_3_{{id}});
        }

        function dt_3_{{id}}() {
            loadScript("{{MEDIA_URL}}js/plugin/datatables/dataTables.fixedHeader.js", dt_4_{{id}});
        }

        function dt_4_{{id}}() {
            loadScript("{{MEDIA_URL}}js/plugin/datatables/ColVis.min.js", dt_5_{{id}});
        }

        function dt_5_{{id}}() {
            loadScript("{{MEDIA_URL}}js/plugin/datatables/ZeroClipboard.js", dt_6_{{id}});
        }

        function dt_6_{{id}}() {
            loadScript("{{MEDIA_URL}}js/plugin/datatables/media/js/TableTools.min.js", dt_7_{{id}});
        }

        function dt_7_{{id}}() {
            loadScript("{{MEDIA_URL}}js/plugin/datatables/DT_bootstrap.js", dt_8_{{id}});
        }

        function dt_8_{{id}}() {
            loadScript("{{MEDIA_URL}}js/plugin/select2/select2.min.js", runDataTables_{{id}});
        }
    }

    var data_table_{{id}} = undefined;

    function runDataTables_{{id}}() {
        data_table_{{id}} = $('#{{id}}').dataTable({
            {% if not datatable_simple %}
                "oTableTools" : {
                    {% if not datatable_notools %}
                        "aButtons" : ["copy", "print", {
                            "sExtends" : "collection",
                            "sButtonText" : '{% trans "Exporter" %} <span class="caret" />',
                            "aButtons" : ["csv", "xls", "pdf"]
                        }],
                        "sSwfPath" : "{{MEDIA_URL}}js/plugin/datatables/media/swf/copy_csv_xls_pdf.swf"
                    {% else %}
                        "aButtons" : []
                    {% endif %}
                },
                "aoColumnDefs": [
                    {% if force_last_width %}{ "sWidth": "140px", "aTargets": [{{force_last_width}}] }, {% endif %}
                    {% if force_first_width %}{ "sWidth": "10px", "aTargets": [0] }, {% endif %}
                    {% if force_width %}{% for pos, width in force_width.iteritems %}{ "sWidth": "{{width}}", "aTargets": [{{pos}}] }, {% endfor %} {% endif %}
                ],
                "bAutoWidth": false,
                "bDeferRender": true,
                "bProcessing": true,
                "bServerSide": true,
                {# "bStateSave": true, #}
                "sAjaxSource": "{% if json_url_manual %}{{json_url_manual}}{% else %}{% url json_url %}{% endif %}",
                "fnDrawCallback": function(oSettings) {
                    {% if draw_callback %}
                        {{draw_callback}}(oSettings);
                    {% endif %}
                },
                "fnInitComplete" : function(oSettings, json) {
                    $(this).closest('#dt_table_tools_wrapper').find('.DTTT.btn-group').addClass('table_tools_group').children('a.btn').each(function() {
                        $(this).addClass('btn-sm btn-default');
                    });
                },
                "fnServerData": function ( sSource, aoData, fnCallback, oSettings ) {
                    oSettings.jqXHR = $.ajax( {
                        "dataType": 'json',
                        "method": 'POST',
                        "url": sSource{% if with_upk %} + "?upk=" + $('.cgroupe').attr('pk'){% endif %}{% if with_ypk %} + "{% if with_upk %}&{% else %}?{% endif %}ypk=" + $('.cyear').attr('pk'){% endif %}{% if with_extradata %} + {{with_extradata}}(){% endif %},
                        "data": aoData,
                        "success": function(data) {
                        if (typeof post_process_data_{{id}} !== 'undefined')
                            data = post_process_data_{{id}}(data);
                        fnCallback(data);
                        }
                    } );
                    },
                "sDom" : "<'dt-top-row'Tlf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
                {% if status_filter %}
                    "aaSorting": [[{{status_col_id}}, 'asc'], {% if default_sort %}{{default_sort|safe}} {% endif %}],
                {% elif default_sort %}
                    "aaSorting": [{{default_sort|safe}}],
                {% endif %}
            {% else %}
                "aaSorting": [],
            {% endif %}
            "sPaginationType" : "bootstrap_full"
        });

        {% if status_filter %}
            $('#{{id}}').parent().parent().find('.dataTables_filter').css('width', '75%').append('<select multiple class="select2 status_filter" type="text" placeholder="Status filter" style="position: absolute; top: 0px; left: 185px;">/select>');

            var select_{{id}} = $('#{{id}}').parent().parent().find('.status_filter');

            {% for id_, text in states.iteritems %}
                select_{{id}}.append('<option value="{{id_}}" {% if id_ in status_filter %}selected{% endif %}>{{text|escapejs}}</option>"');
            {% endfor %}

            select_{{id}}.select2(); //.css('width', '300px')

            function select2_filter() {
                data_table_{{id}}.fnFilter(select_{{id}}.val(), {{status_col_id}});
            }

            select_{{id}}.on('change', function() {
                select2_filter();
            });

            select2_filter();
        {% endif %}

        {% if object_filter %}
            $('#{{id}}').parent().parent().find('.dataTables_filter').css('width', '75%').append('<select class="select2 object_filter" type="text" placeholder="{{object_filter_name}}" style="position: absolute; top: 0px; right: 5px; width: 200px;"><option value="">&nbsp;</option>/select>');

            var obj_select_{{id}} = $('#{{id}}').parent().parent().find('.object_filter');

            {% for obj in object_filter %}
                obj_select_{{id}}.append('<option value="{{obj.pk}}">{{obj|escapejs}}</option>"');
            {% endfor %}

            obj_select_{{id}}.select2({allowClear: true}); //.css('width', '300px')

            function obj_select2_filter_{{id}}() {
                data_table_{{id}}.fnFilter(obj_select_{{id}}.val(), {{object_col_id}});
            }

            obj_select_{{id}}.on('change', function() {
                obj_select2_filter_{{id}}();
            });

            obj_select2_filter();
        {% endif %}

        new $.fn.dataTable.FixedHeader(data_table_{{id}}, {
            "offsetTop": 90
        });
    }
</script>
