{% load i18n generic_extras %}

{% with w_title="Année comptable" %}{% include "widget/header.html" %}{% endwith %}


<div class="year-ok">

    {% trans "Tu travailles actuellement avec l'année comptable" %}<br /><br />

    <center><b class="cyear" pk="{{CURRENT_YEAR_PK}}"><span class="label label-{{CURRENT_YEAR.status_color|default:"danger"}}">{{CURRENT_YEAR_NAME}}</span></b></center><br />

    <span style="float: right;">
        <div class="dropdown">
        <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">{% trans "Changer" %} <span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-right" id="year-selector">

            {% for year in years_available %}
                <li>
                    <a href="#" onclick="select_year({{year.pk}}, '<span class=\'label label-{{year.status_color}}\'>{{year|escape|escapejs}}</span>', {% if year.status == '1_active' %}true{% else %}false{% endif %});"><span class="label label-{{year.status_color}}">{{year}}</span> ({{year.get_status_display}})</a>
                </li>
            {% endfor %}

        </ul>
        </div>
    </span>

    <br />

    {% if not_active_year_warning %}
    <div class="alert alert-danger not_active_year_warning" style="margin-top: 15px; {% if CURRENT_YEAR.status == '1_active' %}display: none;{% endif %}">
            <i class="fa fa-warning fa-2x"></i>
            {% trans "Attention ! Cette année comptable n'est pas l'année comptable en cours ! Es-tu sur de vouloir l'utiliser ?" %}
        </div>
    {% endif %}

</div>


<script type="text/javascript">

    function select_year(pk, name, active) {

        $('.cyear').html(name);
        $('.cyear').attr("pk", pk);

        {% if not_active_year_warning %}
            if (active) {
                $('.not_active_year_warning').hide();
            } else {
                $('.not_active_year_warning').show();
            }
        {% endif %}

        {% if function_to_call %}
            {{function_to_call}}(pk, name);
        {% endif %}

    }

</script>

{% include "widget/footer.html" %}
