{% extends "generic/generic/mail/base_html.html" %}
{% load i18n %}

{% block content %}
<p>
    {% url 'password_change' as url_change_psw %}
    {% blocktrans with psw=psw username=username link=url_change_psw domain=site.domain %}
        Un compte vient d'etre créé avec ton adresse email, ton nom d'utilisateur est : {{username}}.<br />
      Le mot de passe a été généré automatiquement : {{psw}}<br />
      N'oublies pas <a href="https://{{domain}}{{link}}">de le changer lors de ta première connexion</a>.
    {% endblocktrans %}
</p>
{% endblock %}
