{% load i18n %}

{% with w_title="Contexte" %}{% include "widget/header.html" %}{% endwith %}


<div class="unit-ok">

    {% trans "Tu travailles actuellement avec l'unité" %}<br /><br />

    <center><b class="cgroupe" pk="{{CURRENT_UNIT_PK}}">{{CURRENT_UNIT_NAME}}</b></center><br />

    <span style="float: right;">
        <div class="dropdown">
        <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">{% trans "Changer" %} <span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-right" id="unit-selector">

            {% with c_unit=main_unit %}
                {% include "units/selector/menu_unit.html" %}
            {% endwith %}

            {% if unit_blank %}

                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#" id="unit-selector--1" onclick="select_unit(-1, '{% trans "Unités externes" %}', true);" class="unit-displayed"><u>{% trans "Unités externes" %}</u></a>
                </li>

            {% endif %}

        </ul>
        </div>
    </span>

</div>

<div class="unit-no-unit" style="display: none;">
    <div class="alert alert-danger">
        {% trans "Malheureusement, tu ne disposes pas des droits nécessaires pour afficher cette liste, dans aucune unité !" %}
    </div>
</div>

<script type="text/javascript">

    function select_unit(pk, name, can_edit) {

        $('.cgroupe').text(name);
        $('.cgroupe').attr("pk", pk);

        if (pk == -1) {
            $('#id_unit_blank_name').parent().parent().show();
        } else {
            $('#id_unit_blank_name').parent().parent().hide();
        }

        {% if function_to_call %}
            {{function_to_call}}(pk, name, can_edit);
        {% endif %}

    }

    $(function () {
        // Hide useless menus
        $('#unit-selector .unit-hidden, #unit-selector .sub-title-menu').each(function(__, elem) {
            if ($(elem).parent().find('.unit-displayed').length == 0) {
                $(elem).hide();
            }
        });

        // Hide useless sub-title-menus
        $('#unit-selector .sub-title-menu[style!="display: none;"]').each(function(__, elem) {
            if ($(elem).parent().parent().find('> li > a[style="display: none;"]').length == 2) {
                $(elem).parent().parent().replaceWith($(elem).parent().children('ul'));
            }
        });

        // Hide alone menus (replace the sub ul with the parrent ul)
        $('#unit-selector, #unit-selector ul').each(function (__, elem) {
            if ($(elem).find('> li > .unit-displayed').length == 0 && $(elem).find('> li > .unit-hidden').length == 1) {
                var add_left = $(elem).hasClass('dropdown-menu-right');
                var new_ul = $($(elem).find('> li > .unit-hidden')[0]).parent().children('ul');

                $(new_ul).attr('class', $(elem).attr('class'));

                $(elem).replaceWith(new_ul);
            }
        });

        //Ensure the current unit is selectable
        if ($('#unit-selector-{{CURRENT_UNIT_PK}}').length == 0 || $('#unit-selector-{{CURRENT_UNIT_PK}}').attr('style') == 'display: none;') {
            if ($('.unit-displayed').length == 0) {
                $('.unit-no-unit').show();
                $('.unit-ok').hide();

                setTimeout("$('.dataTables_processing').html('<div class=\"alert alert-warning\">{% trans "Aucun droit !" %}</div>');", 1000);
            } else {
                $('.unit-displayed')[0].click();
            }
        }

        //Don't autoclose menu
        $('.dropdown-menu li a').mouseover(function(e) {
            e.stopPropagation();
            $(this).parent().parent().find('li').each(function() {
                $(this).removeClass('open');
            });
            $(this).parent().addClass('open');
        });

        $('.dropdown-toggle').click(function(e) {
            $(this).parent().find('li').each(function() {
                $(this).removeClass('open');
            });
        });
    });

</script>

{% include "widget/footer.html" %}
