{% extends "base_pdf.html" %}
{% load i18n humanize %}

{% block title %}
    <h1 style="text-align: center; font-size: 30px; margin-top:-150px;">{% trans "Note de frais" %}</h1>
{% endblock %}

{% block pre_linkedinfo %}
    <tr class="tr-info"><td class="td-label">{% trans "Titre de la note de frais : " %}</td><td class="td-large">{{object.name}}</td></tr>
{% endblock %}

{% block detail_table %}
    <table>
        <tr>
            <td style="width: 38%;"><b>{% trans "Concerne" %}</b></td>
            <td style="width: 20%;"><b>{% trans "Justificatif" %}</b></td>
            <td style="width: 30%;"><b>{% trans "Numéro de compte" %}</b></td>
            <td style="width: 7%; text-align: center;"><b>{% trans "TVA" %}</b></td>
            <td style="width: 12%; text-align: right;"><b>{% trans "Montant" %}</b></td>
        </tr>

        {% for line in object.get_lines %}
            <tr class="tr-line">
                 <td valign="top">{{line.label}}</td>
                 <td valign="top">{{line.proof}}</td>
                 <td valign="top">{{line.account}}</td>
                 <td valign="top" style="text-align: right;">{{line.tva|floatformat:"2"}}</td>
                 <td valign="top" style="text-align: right;">{{line.value_ttc|intcomma}}</td>
            </tr>
         {% endfor %}

         <tr><td colspan="5">&nbsp;</td></tr>

         <tr><td colspan="3" class="td-large" style="color: red;"><b>{% trans "Solde en ma faveur : " %}</b></td><td class="td-large" style="text-align: right;"><b>{{object.get_total|intcomma}}</b></td></tr>
         <tr><td colspan="4">&nbsp;</td></tr>

         <tr><td>{% trans "Nombre de justificatifs : " %}</td><td>{{object.nb_proofs}}</td><td colspan="2"></td></tr>
         <tr><td colspan="4">&nbsp;</td></tr>

      <tr>
            <td colspan="3"><b>{% trans "Visa de l'unité : " %}</b></td>
            <td colspan="4" style="border-bottom: 1px black solid;">{% if object.status == '2_agep_validable' or object.status == '3_agep_sig1' or object.status == '3_agep_sig2' or object.status == '4_accountable' or object.status == '5_in_accounting' or object.status == '6_archived' %}{% if object.get_unit_signer %}<img src="{{MEDIA_ROOT}}img/valid-circle-icon.png" style="margin-right: 8px;" height="13" width="13">&nbsp;&nbsp;{{ object.get_unit_signer.first_name }}  {{ object.get_unit_signer.last_name }}{% endif %}{% endif %}</td>
        </tr>
        <tr><td colspan="7">&nbsp;</td></tr><tr><td colspan="7">&nbsp;</td></tr>

        <tr>
            <td colspan="3"><b>{% trans "Visa AGEPoly (1): " %}</b></td>
            <td colspan="4" style="border-bottom: 1px black solid;">{% if object.status == '4_accountable' or object.status == '5_in_accounting' or object.status == '6_archived' %}{% if object.get_root_unit_signer_1 %}<img src="{{MEDIA_ROOT}}img/valid-circle-icon.png" style="margin-right: 8px;" height="13" width="13">&nbsp;&nbsp;{{ object.get_root_unit_signer_1.first_name }}  {{ object.get_root_unit_signer_1.last_name }}{% endif %}{% endif %}</td>
        </tr>
        <tr><td colspan="7">&nbsp;</td></tr><tr><td colspan="7">&nbsp;</td></tr>

        <tr>
            <td colspan="3"><b>{% trans "Visa AGEPoly (2): " %}</b></td>
            <td colspan="4" style="border-bottom: 1px black solid;">{% if object.status == '4_accountable' or object.status == '5_in_accounting' or object.status == '6_archived' %}{% if object.get_root_unit_signer_2 %}<img src="{{MEDIA_ROOT}}img/valid-circle-icon.png" style="margin-right: 8px;" height="13" width="13">&nbsp;&nbsp;{{ object.get_root_unit_signer_2.first_name }}  {{ object.get_root_unit_signer_2.last_name }}{% endif %}{% endif %}</td>
        </tr>
    </table>

{% endblock %}
