{% load i18n %}{% autoescape off %}{% trans "Bonjour," %}

{% trans "Tu reçois cet email car tu as demandé à récupérer ton mot de passe sur Truffe." %}

{% trans "Merci de cliquer sur le lien ci-dessous et de choisir un nouveau mot de passe :" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Ton username, au cas où tu l'as oublié:" %} {{ user.get_username }}

{% trans "Bonne journée," %}

{% trans "Le système de contact de Truffe" %}
{% endautoescape %}
