{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{{block.super}} :: {% trans "Utilisateurs" %} :: {% trans "Changement de mot de passe" %}}{% endblock %}

{% block ribbon %}
    {{block.super}}
    <li><a href="{% url 'users.views.users_list' %}"><i class="fa fa-group"></i> {% trans "Annuaire global" %}</a></li>
    <li><a href="{% url 'users.views.users_profile' request.user.pk %}"><i class="fa fa-user"></i> {{request.user.get_full_name}}</a></li>
    <li><i class="fa fa-pencil"></i> {% trans "Changement de mot de passe" %}</li>
  {% endblock %}

{% block content %}
    <h1>{% trans "Changement de mot de passe" %}</h1>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-7">
            <div class="well">
                <form class="form-horizontal" method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form layout='horizontal' %}

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="{% url 'users.views.users_profile' request.user.pk %}" class="btn btn-default">{% trans "Annuler" %}</a>
                                <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> {% trans "Sauvegarder" %}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block menuid %}{% if request.user.pk == user.pk %}menu-gens-monprofile{% else %}menu-gens-annuaire{% endif %}{% endblock %}
