{% extends "base_login.html" %}
{% load i18n bootstrap3 %}

{%block content %}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-sm-offset-3 col-md-offset-4 col-lg-offset-4">
        <div class="well no-padding" id="compte-truffe">

            {% if validlink %}
            <form action="" method="POST" id="password-reset-confirm-form" class="smart-form client-form">
                {% csrf_token %}
                <header>
                    {% trans "Nouveau mot de passe" %}
                </header>

                <fieldset>
                    <section>
                        {% bootstrap_form form layout='vertical' %}
                    </section>
                </fieldset>
                <footer>
                    <button type="submit" class="btn btn-primary">{% trans "Changer le mot de passe" %}
                    </button>
                </footer>
            </form>
            {% else %}
                {% trans "Le lien est invalide, probablement car il a déjà été utilisé. Merci d'en demander un nouveau." %}
            {% endif %}

        </div>
    </div>
{% endblock %}
