{% extends "generic/generic/mail/base_html.html" %}

{% block content %}
<p>
    {% url 'password_reset_confirm' uidb64=uid token=token as url_reset %}
    {% blocktrans with link=url_reset domain=site.domain username=user.get_username%}
      Tu reçois cet email car tu as demandé à récupérer ton mot de passe sur Truffe.<br />
      Merci de cliquer sur le lien ci-dessous et de choisir un nouveau mot de passe 
      <a href="{{protocol}}://{{domain}}{{link}}">{{protocol}}://{{domain}}{{link}}</a><br />
      Ton username, au cas où tu l'as oublié, est : {{username}}.
    {% endblocktrans %}
</p>
{% endblock %}
                       