{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load bootstrap3 %}

{% block title %}{{block.super}} :: {{Model.MetaData.base_title}} :: {% trans "Suppression" %}{% endblock %}

{% block ribbon %}
    {{block.super}}
    <li><a href="{% if related_mode %}{% url list_related_view %}{% else %}{% url list_view %}{% endif %}"><i class="{{Model.MetaData.base_icon}}"></i> {{Model.MetaData.base_title}}</a></li>
    <li>
        {% for obj in objs %}
            <a href="{% url show_view obj.pk %}{% if related_mode %}?_upkns=_&_fromrelated=_{% endif %}"><i class="{{Model.MetaData.elem_icon}}"></i> {{obj}}</a>
            {% if not forloop.last %}, {% endif %}
        {% endfor %}
    </li>
    <li><i class="fa fa-times"></i> {% trans "Suppression" %}</li>

  {% endblock %}


{% block content %}

  <h1>{{obj}}</h1>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-7">
      <div class="well">
          {% if can_delete %}
            <form class="form-horizontal" method="POST">
                {% csrf_token %}
                <input type="hidden" name="do" value="it">

                <div class="alert alert-block alert-warning">
                    {% if not multi_obj %}
                        <h4 class="alert-heading">{% trans "Vous êtes sur le point de supprimer l'objet" %} "{{objs.0}}" ({{Model.MetaData.base_title}})</h4>

                    {% else %}
                        <h4 class="alert-heading">{% trans "Vous êtes sur le point de supprimer les objets suivants:" %} ({{Model.MetaData.base_title}})</h4>

                        <ul>
                            {% for obj in objs %}
                                <li>{{obj}}</li>
                            {% endfor %}
                        </ul>

                        <br />

                    {% endif %}

                    {% trans "Êtes vous sur de vouloir faire ça ?" %}
                </div>

                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="{% if related_mode %}{% url list_related_view %}{% else %}{% url list_view %}{% endif %}" class="btn btn-success"><i class="fa fa-list"></i> {% trans "Annuler et retourner sur la liste" %}</a>
                            {% if not multi_obj %}
                                <a href="{% url show_view objs.0.pk %}{% if related_mode %}?_upkns=_&_fromrelated=_{% endif %}" class="btn btn-success"><i class="fa fa-eye"></i> {% trans "Annuler" %}</a>
                            {% endif %}
                            <button type="submit" class="btn btn-danger"><i class="fa fa-times"></i> {% trans "Supprimer" %}</button>
                        </div>
                    </div>
                </div>
            </form>
          {% else %}
              <div class="alert alert-block alert-danger">
                  <h4 class="alert-heading">{% trans "Impossible de supprimer l'objet" %} "{{prob_obj}}" ({{Model.MetaData.base_title}})</h4>
                  {% trans can_delete_message %}

              </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="{% if related_mode %}{% url list_related_view %}{% else %}{% url list_view %}{% endif %}" class="btn btn-success"><i class="fa fa-list"></i> {% trans "Annuler et retourner sur la liste" %}</a>
                            {% if not multi_obj %}
                                <a href="{% url show_view objs.0.pk %}{% if related_mode %}?_upkns=_&_fromrelated=_{% endif %}" class="btn btn-success"><i class="fa fa-eye"></i> {% trans "Annuler" %}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

          {% endif %}
      </div>
    </div>
</div>

{% endblock %}


{% block menuid %}{% if related_mode %}{{Model.MetaData.menu_id_related}}{% else %}{{Model.MetaData.menu_id}}{% endif %}{% endblock %}
