{% extends "base.html" %}
{% load i18n l10n bootstrap3 jfutags generic_extras %}

{% block title %}{{block.super}} :: {{Model.MetaData.base_title}} :: {% if form.instance.pk %}{% trans "Edition" %}{% else %}{% trans "Création" %}{% endif %}{% endblock %}

{% block ribbon %}
    {{block.super}}
    <li><a href="{% if related_mode %}{% url list_related_view %}{% else %}{% url list_view %}{% endif %}"><i class="{{Model.MetaData.base_icon}}"></i> {{Model.MetaData.base_title}}</a></li>
    {% if form.instance.pk %}
        <li><a href="{% url show_view form.instance.pk %}{% if related_mode %}?_upkns=_&_fromrelated=_{% endif %}"><i class="{{Model.MetaData.elem_icon}}"></i> {{form.instance}}</a></li>
        <li><i class="fa fa-pencil"></i> {% trans "Edition" %}</li>
    {% else %}
        <li><i class="fa fa-plus"></i> {% trans "Création" %}</li>
    {% endif %}

  {% endblock %}


{% block content %}

    {% if form.instance.pk %}
        <h1>{{form.instance}}</h1>
    {% else %}
        <h1>{% trans "Création d'un élément" %}</h1>
    {% endif %}
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-10" style="max-width: 1000px;">
      <div class="well">
          <form class="form-horizontal" method="POST" enctype="multipart/form-data" id="generic_main_form">
            {% csrf_token %}

            <h3 style="margin-top: 0px;">{% trans "Informations de base" %}</h3>

            {% localize off %}
                {% bootstrap_form form layout='horizontal' %}
            {% endlocalize %}

            <input type="hidden" name="post-save-dest" id="post-save-dest" value="">
            <input type="hidden" name="file_key" value="{{file_key}}">

            {% if unit_mode %}
                <input type="hidden" id="input_upk" name="upk" value="{% if form.instance.costcenter and not form.instance.unit %}{{form.instance.costcenter.unit.pk}}{% else %}{% if form.instance.unit %}{{form.instance.unit.pk}}{% else %}{{current_unit.pk}}{% endif %}{% endif %}">
            {% endif %}
            {% if year_mode %}
                <input type="hidden" id="input_ypk" name="ypk" value="{{form.instance.accounting_year.pk}}">
            {% endif %}

            {% for line_data in lines_objects %}
                <h3>{{line_data.title}}</h3>

                <table class="table table-condensed">
                    <thead>
                        <tr>
                            {% for field in line_data.new_form %}
                                <th>{{field.label_tag}}</th>
                            {% endfor %}
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="lines_tbody_{{line_data.related_name}}">

                        <tr id="lines_new_form_{{line_data.related_name}}" class="line_line_{{line_data.related_name}} line_line_id_{{line_data.related_name}}-ID-" style="display: none;">
                            {% for field in line_data.new_form %}
                                <td class="line_field_{{line_data.related_name}}_{{field.name}}">{% simple_bootstrap_field field %}</td>
                            {% endfor %}

                            <td style="min-width: 58px;">
                                <input type="hidden" name="_LINES_LIST_{{line_data.related_name}}[]" value="-ID-">
                                <a href="#" onclick="lines_remove_line_{{line_data.related_name}}(this);" class="btn btn-xs btn-danger"><i class="fa fa-minus"></i></a>

                                {% if line_data.sortable %}
                                    <span style="cursor: move;" class="handle btn btn-default btn-xs">
                                        <i class="fa fa-sort"></i>
                                    </span>
                                {% endif %}
                            </td>
                        </tr>

                        {% for line_form in line_data.forms %}
                            <tr class="line_field_line_{{line_data.related_name}} {% if line_form.errors %}has-error{% endif %}">

                                {% for field in line_form.form %}
                                    <td class="line_field_{{line_data.related_name}}_{{field.name}} {% if field.errors %}has-error{% endif %}">{% simple_bootstrap_field field %}</td>
                                {% endfor %}

                                <td style="min-width: 58px;">
                                    <input type="hidden" name="_LINES_LIST_{{line_data.related_name}}[]" value="{{line_form.id}}">
                                    <a href="#" onclick="lines_remove_line_{{line_data.related_name}}(this);" class="btn btn-xs btn-danger"><i class="fa fa-minus"></i></a>

                                    <span style="cursor: move;" class="handle btn btn-default btn-xs">
                                        <i class="fa fa-sort"></i>
                                    </span>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div id="lines_footer">
                    <span></span>
                    <a href="#" onclick="lines_add_line_{{line_data.related_name}}(); return false;" class="btn btn-xs btn-success pull-right"><i class="fa fa-plus"></i> {% trans "Ajouter" %}</a>
                </div>

                <hr style="clear: both; visibility: hidden;">

                <script type="text/javascript">

                    $(function () {
                        {% for line_form in line_data.forms %}
                            {% for field in line_data.date_fields %}
                                $("#id__LINES_{{line_data.related_name}}_{{line_form.id}}-{{field}}").datepicker({dateFormat: 'yy-mm-dd',  prevText: '<i class="fa fa-chevron-left"></i>', nextText: '<i class="fa fa-chevron-right"></i>',});
                            {% endfor %}

                            {% for field in line_data.tva_fields %}
                                switch_to_tva_field($("#id__LINES_{{line_data.related_name}}_{{line_form.id}}-{{field}}"));
                            {% endfor %}

                        {% endfor %}

                        // Make selects in old lines be select2
                        $('#lines_tbody_{{line_data.related_name}} .line_field_line_lines select')
                            .removeClass('form-control').addClass('select2').css('width', '100%').select2();
                    });

                    function lines_add_line_{{line_data.related_name}}() {
                        var html = $('#lines_new_form_{{line_data.related_name}}').html();

                        var line_id = 'NEW-' + new Date().getTime();

                        html = html.replace(/-ID-/g, line_id);

                        html = '<tr>' + html + '</tr>';

                        $('#lines_tbody_{{line_data.related_name}}').append(html);
                        var new_line = $('#lines_tbody_{{line_data.related_name}} tr:last-child');

                        {% for field in line_data.date_fields %}
                            $("#id__LINES_{{line_data.related_name}}_" + line_id + "-{{field}}").removeClass('hasDatepicker').datepicker({dateFormat: 'yy-mm-dd',  prevText: '<i class="fa fa-chevron-left"></i>', nextText: '<i class="fa fa-chevron-right"></i>',});
                        {% endfor %}

                        {% for field in line_data.tva_fields %}
                            switch_to_tva_field($("#id__LINES_{{line_data.related_name}}_" + line_id + "-{{field}}"));
                        {% endfor %}

                        lines_make_sortable_{{line_data.related_name}}();

                        new_line.find('select')
                            .removeClass('form-control').addClass('select2').css('width', '100%').select2();

                        {% block line_add_line_bonus %}{% endblock %}
                    }

                    function lines_remove_line_{{line_data.related_name}}(elem) {
                        $(elem).parents('tr').remove();
                        lines_make_sortable_{{line_data.related_name}}();
                    }


                    var already_sorted_{{line_data.related_name}} = false;
                    var isFirefox = /firefox/.test(navigator.userAgent.toLowerCase());

                    function lines_make_sortable_{{line_data.related_name}}() {
                        {% if line_data.sortable %}

                            if (already_sorted_{{line_data.related_name}}) {
                                $('#lines_tbody_{{line_data.related_name}}').sortable('destroy');
                            } else {
                                already_sorted_{{line_data.related_name}};
                            }


                            $('#lines_tbody_{{line_data.related_name}}').sortable({
                                handle: '.handle',
                                start: function(ev, ui) {
                                    if(isFirefox) {
                                        ui.item.css('margin-top', $(window).scrollTop());
                                    }
                                },
                                beforeStop: function (ev, ui) {
                                    if(isFirefox) {
                                        ui.item.css('margin-top', 0);
                                    }
                                }
                            });
                        {% endif %}
                    }

                    lines_make_sortable_{{line_data.related_name}}();

                    {% block line_js_bonus %}{% endblock %}
                </script>

            {% endfor %}

            {% if tag_mode %}
                <h3>{% trans "Tags" %}</h3>

                <div class="form-group">
                    <label class="control-label" for="tags">
                    </label>
                    <div class="col-md-12">
                        <input id="tags" name="tags" placeholder="Tags" required="required" title="" value="{% for t in tags %}{{t}}{% if not forloop.last %},{% endif %}{% endfor %}" type="text">
                        <span class="help-block">
                            {% trans "Tu peux utiliser n'importe quel tag pour classer et mieux retrouver tes différents objets." %}
                        </span>
                    </div>
                </div>

                <script type="text/javascript">

                    $(function () {

                        $('#tags').css('width', '100%').select2({
                            tags: true,
                            tokenSeparators: [","],
                            minimumInputLength: 3,
                            createSearchChoice: function(term, data) {
                                if ($(data).filter(function() {
                                    return this.text.localeCompare(term) === 0;
                                }).length === 0) {
                                    return {
                                        id: term,
                                        text: term
                                    };
                                }
                            },
                            multiple: true,
                            ajax: {
                                url: '{% url tag_search_view %}',
                                dataType: "json",
                                data: function(term, page) {
                                    return {
                                        q: term,
                                        {% if unit_mode %}
                                            upk: $('#input_upk').val(),
                                        {% endif %}
                                        {% if year_mode %}
                                            ypk: $('#input_ypk').val(),
                                        {% endif %}
                                    };
                                },
                                results: function(data, page) {
                                    return {
                                        results: data
                                    };
                                }
                            },
                            initSelection: function (element, callback) {

                                var ids = $(element).val();

                                var data = new Array();

                                jQuery(ids.split(',')).each(function (_, e) {
                                    data.push({id: e, text: e});
                                });

                                callback(data);
                            },
                            formatResult: function(t) {
                                return "<div class='select2-user-result'><i class='fa fa-tag'></i> " + escape_html(t.text) + "</div>";
                            },
                            formatSelection: function(t) {
                                return "<i class='fa fa-tag'></i> " + escape_html(t.text);
                            },
                        });

                    });

                </script>
            {% endif %}
        </form>

        {% if file_mode %}
            <h3>{{Model.MetaEdit.files_title}}</h3>

            <p>{{Model.MetaEdit.files_help}}<br />{% trans "Tu peux 'drag & dropper' des fichiers sur toute la page pour les envoyer." %}</p>

            {% jfu 'generic/generic/file_upload.html' file_upload_view %}

        {% endif %}

        <div class="form-actions">
            <div class="row">
                <div class="col-md-12">
                    <a href="{% if form.instance.pk %}{% url show_view form.instance.pk %}{% else %}{% url list_view %}{% endif %}" class="btn btn-default">{% trans "Annuler" %}</a>
                    <button type="button" class="btn btn-primary" id="save_and_new" onclick="$('#post-save-dest').val('new'); $('#generic_main_form').submit();"><i class="glyphicon glyphicon-floppy-disk"></i> {% trans "Sauvegarder et créer un nouveau" %}</button>
                    <button type="button" class="btn btn-primary" id="save_and_edit" onclick="$('#post-save-dest').val('continue'); $('#generic_main_form').submit();"><i class="glyphicon glyphicon-floppy-disk"></i> {% trans "Sauvegarder et continuer l'édition" %}</button>
                    <button type="button" class="btn btn-primary" id="save" onclick="$('#generic_main_form').submit();"><i class="glyphicon glyphicon-floppy-disk"></i> {% trans "Sauvegarder" %}</button>
                </div>
            </div>
        </div>
      </div>
    </div>

    {% if unit_mode or year_mode %}

        <div class="col-sm-12 col-md-2 col-lg-2">

            {% if unit_mode %}
              {% if form.instance.pk %}
                {% with w_title="Contexte" %}{% include "widget/header.html" %}{% endwith %}
                    {% trans "Cet objet est lié à l'unité" %}<br /><br />
                    <center><b class="cgroupe" pk="{{CURRENT_UNIT_PK}}">{{CURRENT_UNIT_NAME}}</b></center><br />
                {% include "widget/footer.html" %}

              {% else %}
                  {% with function_to_call="unit_updated" %}
                      {% include "units/selector/unit_selector.html" %}
                  {% endwith %}

                  <script type="text/javascript">
                        function unit_updated(pk, name, can_edit) {
                            $('#input_upk').val(pk);
                            {% block bonus_unit_updated %}{% endblock %}
                            {% if costcenter_mode %}load_costcenter();{% endif %}
                        }
                  </script>
              {% endif %}
            {% endif %}

            {% if year_mode %}
              {% if form.instance.pk %}
                {% with w_title="Contexte" %}{% include "widget/header.html" %}{% endwith %}
                    {% trans "Cet objet est lié à l'année comptable" %}<br /><br />
                    <center><b class="cyear" pk="{{CURRENT_YEAR.pk}}">{{CURRENT_YEAR.name}}</b></center><br />
                {% include "widget/footer.html" %}

              {% else %}
                  {% with function_to_call="year_updated" %}
                      {% include "accounting_core/selector/year_selector.html" %}
                  {% endwith %}

                  <script type="text/javascript">
                        function year_updated(pk, name) {
                            $('#input_ypk').val(pk);
                            {% block bonus_year_updated %}{% endblock %}
                            {% if costcenter_mode %}load_costcenter();{% endif %}

                        }
                  </script>
              {% endif %}
            {% endif %}

        </div>

        <script type="text/javascript">
            {% if CURRENT_UNIT_PK != -1 %}
                $('#id_unit_blank_name').parent().parent().hide();
            {% endif %}
        </script>

    {% endif %}
</div>

<script type="text/javascript" src="{{MEDIA_URL}}js/plugin/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}js/plugin/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css">
<script type="text/javascript" src="{{MEDIA_URL}}js/plugin/summernote/summernote.js"></script>

<script type="text/javascript">


    $(function () {
        {% for field in Model.MetaEdit.datetime_fields %}
            $("#id_{{field}}").datetimepicker({format: 'yyyy-mm-dd hh:ii', weekStart: 1, autoclose: true, todayBtn: true});
        {% endfor %}

        {% for field in Model.MetaEdit.date_fields %}
            $("#id_{{field}}").datepicker({dateFormat: 'yy-mm-dd',  prevText: '<i class="fa fa-chevron-left"></i>', nextText: '<i class="fa fa-chevron-right"></i>',});
        {% endfor %}

    });

    {% for field in Model.MetaEdit.html_fields %}
        $("#id_{{field}}").summernote({
            height : 180,
            focus : false,
            tabsize : 2,
            onblur: function (e) {
              $('#id_{{field}}').val($("#id_{{field}}").code());
            }
        });

        $("#id_{{field}}").code(($('#id_{{field}}').val()));


    {% endfor %}

    var ubn = $('#id_unit_blank_name').parent().parent();
    var ubn_parent = ubn.parent();
    ubn_parent.prepend(ubn.remove());

    $('#id_unit_blank_name').parent().append("<div class='alert alert-danger' style='margin-top: 4px; margin-bottom: 0px; display: none;' id='id_unit_blank_name_warning'>{% trans "Attention ! Une unité existe déjà avec ce nom. Est-ce que tu manques de droits pour utiliser directement l'unité ? Hors cas exceptionnels, il ne faut pas passer via une entité externe, mais demander les droits ! Demande au président !" %}</div>");

    $('#id_unit_blank_name').on('change', function (elem) {
        $.ajax('{% url 'generic.views.check_unit_name' %}?name=' + escape($('#id_unit_blank_name').val()), {dataType: 'json'}).success(function (data) {
            if (data['result'] == 'ok') {
                $('#id_unit_blank_name_warning').hide();
            } else {
                $('#id_unit_blank_name_warning').show();
            }
        });
    });

    {% if costcenter_mode %}

        function load_costcenter() {

            bonus = '?_{% if unit_mode %}&upk=' + $('#input_upk').val() + '{% endif %}{% if year_mode %}&ypk=' + $('#input_ypk').val() + '{% endif %}';

            $.ajax('{% url 'accounting_core.views.costcenter_available_list' %}' + bonus).success(function (data) {

                var old_value = $('#id_costcenter').val();

                var options = '<option value=""></option>';

                $.each(data.data, function (index, option) {
                    options += '<option value="' + option.pk + '">' + escape_html(option.name) + '</option>';
                });

                $('#id_costcenter').select2('destroy');
                $('#id_costcenter').html(options);
                $('#id_costcenter').val(old_value);
                $('#id_costcenter').select2();
            });
        }

        $(function () {
            $('#id_costcenter').css('width', '100%').addClass('select2').removeClass('form-control').select2();
            load_costcenter();
        });

    {% endif %}

    function switch_to_tva_field(field) {
        field.css('width', '100%').css('min-width', '100px').addClass('select2').removeClass('form-control').select2({
            ajax: {
                url: '{% url 'accounting_core.views.tva_available_list' %}',
                dataType: "json",
                data: function(term, page) {
                    return {
                      q: term
                    };
                },
                results: function(data, page) {
                    return {
                      results: data
                    };
                  }
            },

            initSelection: function (element, callback) {
                $.ajax('{% url 'accounting_core.views.tva_available_list' %}?init=' + $(element).val()).success(function (data) {
                    callback(data[0]);
                });
            },
        });
    }

    {% for field in Model.MetaEdit.tva_fields %}
        $(function () {
            switch_to_tva_field($('#id_{{field}}'));
        });
    {% endfor %}

</script>

{% block edit_bonus %}

{% endblock %}

{% endblock %}


{% block menuid %}{% if related_mode %}{{Model.MetaData.menu_id_related}}{% else %}{{Model.MetaData.menu_id}}{% endif %}{% endblock %}
