{% extends "generic/datatables_json.html" %}
{% load i18n %}
{% load generic_extras %}
{% load rights_extras %}

{% block data %}
[
    {% for elem in list %}
      [
      {% block list_bonus %}{% endblock %}
      {% for field, __ in list_display %}
      "{% nocrlf %}
        {% if forloop.first %}
            {% ifhasright elem user 'SHOW' %}
            <a href=\"{% url show_view elem.pk %}?{% if upk_noswitch %}&_upkns=_{% endif %}{% if from_related %}&_fromrelated=_{% endif %}\">
            {% endifhasright %}
        {% endif %}
        {% if field in Model.MetaData.yes_or_no_fields %}
            {% with val=elem|get_attr:field %}{% include "generic/yesorno.html" %}{% endwith %}
        {% else %}
            {% if field in Model.MetaData.datetime_fields %}
                {{elem|get_attr:field|date:"d.m.Y"|force_escape|escapejs}} {{elem|get_attr:field|time:"H:i:s"|force_escape|escapejs}}
            {% else %}
                {% if field == 'status' and elem.MetaState.states %}
                    <span class='label label-{{elem.status_color}}'><i class='{{elem.status_icon}}'></i> {{elem.get_status_display|force_escape|escapejs}}</span>
                {% else %}
                    {% if field in Model.MetaData.safe_fields %}
                        {{elem|get_attr:field|escapejs}}
                    {% else %}
                        {{elem|get_attr:field|force_escape|escapejs}}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
        {% if forloop.first %}
            {% ifhasright elem user 'SHOW' %}</a>{% endifhasright %}
        {% endif %}{% endnocrlf %}",
      {% endfor %}
      "{% ifhasright elem user 'DELETE' %}<a href=\"{% url delete_view elem.pk %}?{% if upk_noswitch %}&_upkns=_{% endif %}{% if from_related %}&_fromrelated=_{% endif %}\" class=\"btn btn-xs btn-danger\" title=\"{% trans "Supprimer" %}\" rel=\"tooltip\"><i class=\"fa fa-times\"></i></a>{% endifhasright %} {% ifhasright elem user 'EDIT' %}<a href=\"{% url edit_view elem.pk %}?{% if upk_noswitch %}&_upkns=_{% endif %}{% if from_related %}&_fromrelated=_{% endif %}\" class=\"btn btn-xs btn-default\" title=\"{% trans "Editer" %}\" rel=\"tooltip\"><i class=\"fa fa-pencil\"></i></a>{% endifhasright %}{% if elem.MetaState.list_quick_switch %}{% spaceless %}{% include "generic/generic/list_json_quick_switch.html" %}{% endspaceless %}{% endif %}{% block buttons_bonus %}{% endblock %}"
      ]{% if not forloop.last %},{% endif %}
    {% endfor %}
]
{% endblock %}
