{% extends "base.html" %}
{% load i18n generic_extras rights_extras thumbnail %}

{% block title %}{{block.super}} :: {{Model.MetaData.base_title}} :: {% trans "Détails" %}{% endblock %}

{% block ribbon %}
    {{block.super}}
    <li><a href="{% if related_mode %}{% url list_related_view %}{% else %}{% url list_view %}{% endif %}"><i class="{{Model.MetaData.base_icon}}"></i> {{Model.MetaData.base_title}}</a></li>
    <li><i class="{{Model.MetaData.elem_icon}}"></i> {{obj}}</li>
{% endblock %}

{% block content %}
    <h1>{{obj}}</h1>
    <section id="widget-grid" class="">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6">
                {% with w_title="Informations" %}{% include "widget/header.html" %}{% endwith %}

                    <h3 style="margin-top: 0px;">{% trans "Informations de base" %}</h3>

                    <dl class="dl-horizontal">
                        {% for elem, title in Model.MetaData.details_display %}

                          {% ifcandisplay obj user field %}
                            <dt title="{{title}}">{{title}}</dt>
                            <dd>
                            {% if elem in Model.MetaData.yes_or_no_fields %}
                              {% with val=obj|get_attr:elem %}{% include "generic/yesorno.html" %}{% endwith %}
                            {% else %}
                              {% if elem in Model.MetaData.datetime_fields %}
                                  {{obj|get_attr:elem|date:"d.m.Y"}} {{obj|get_attr:elem|time:"H:i:s"|default:"&nbsp;"}}
                              {% else %}
                                  {% if elem in Model.MetaData.images_fields %}
                                    {% with w=obj|get_attr:elem %}
                                      <a href="{{MEDIA_URL}}{{w}}" class="thumbnail" data-lightbox="image-1" style="width: 110px; margin-top: 5px;"><img src="{% thumbnail w 100x100 crop %}" alt="" /></a>
                                    {% endwith %}
                                  {% else %}
                                    {% if elem == 'status' and obj.MetaState.states %}
                                      <span class="label label-{{obj.status_color}}"><i class="{{obj.status_icon}}"></i> {{obj.get_status_display}}</span>
                                      {% include "generic/generic/show_state_switcher.html" %}
                                    {% else %}
                                      {% if elem in Model.MetaData.html_fields %}
                                        {{obj|get_attr:elem|default:"&nbsp;"|html_check_and_safe}}
                                      {% else %}

                                          {% if elem in Model.MetaData.safe_fields %}
                                              {{obj|get_attr:elem|safe|default:"&nbsp;"|linebreaksbr}}
                                          {% else %}
                                              {{obj|get_attr:elem|default:"&nbsp;"|linebreaksbr}}
                                          {% endif %}

                                      {% endif %}
                                    {% endif %}
                                  {% endif %}
                              {% endif %}

                            {% endif %}
                            </dd>
                            {% endifcandisplay %}
                        {% endfor %}
                    </dl>

                    {% for line_data in lines_objects %}
                        {% if line_data.show_list %}
                            <h3>{{line_data.title}}</h3>

                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        {% for field in line_data.show_list %}
                                            <th>{{field.1}}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for obj_line in line_data.elems %}
                                        <tr>
                                            {% for field in line_data.show_list %}
                                                <th>
                                                  {% if field.0 in line_data.date_fields %}
                                                      {{obj_line|get_attr:field.0|date:"d.m.Y"}}
                                                  {% else %}
                                                      {{obj_line|get_attr:field.0|default:"&nbsp;"|linebreaksbr}}
                                                  {% endif %}
                                                </th>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>

                            </table>
                        {% endif %}
                    {% endfor %}
                    {% if obj.files and obj.MetaData.files_title %}

                        <h3>{{obj.MetaData.files_title}}</h3>

                        <div class="row">

                            {% for file in obj.files.all %}

                                <a href="{% url file_get_view file.pk %}{{file.basename}}" class="thumbnail" {% if file.is_picture %}data-lightbox="files-{{forloop.counter}}"{% endif %} style="width: 210px; margin: 5px; float: left;">
                                    <img src="{% url file_get_thumbnail_view file.pk %}" alt="" />
                                    {{file.basename|truncatechars:25}}
                                </a>

                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if tags %}
                        <h3>{% trans "Tags" %}</h3>

                        {% for t in tags %}
                            <a href="{% if related_mode %}{% url list_related_view %}{% else %}{% url list_view %}{% endif %}?tag={{t}}" class="label label-info"><i class="fa fa-tag"></i> {{t}}</a>
                        {% endfor %}
                    {% endif %}

                {% include "widget/footer.html" %}
            </div>

          {% block bonus_box_after_infos %}{% endblock %}

          {% ifhasright obj user 'DISPLAY_LOG' %}
            <div class="col-sm-12 col-md-12 col-lg-6 popover-no-padding">
                {% with w_title="Modifications" w_nopadding=True %}{% include "widget/header.html" %}{% endwith %}

                    <div class="widget-body-toolbar"></div>
                    <table id="log_list_table" class="table table-striped table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>{% trans "Quand" %}</th>
                                <th>{% trans "Qui" %}</th>
                                <th>{% trans "Quoi" %}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for log_entry in log_entires %}
                                <tr>
                                    <td>{{log_entry.when|date:"d.m.Y"}} {{log_entry.when|time:"H:i:s"}}</td>
                                    <td>{{log_entry.who.get_full_name}}</td>
                                    <td>{{log_entry.get_what_display}}</td>
                                    <td>
                                        {% if log_entry.what == 'edited' %}
                                        <i class="fa fa-info" rel="popover-hover" data-html="true" data-placement="left" data-original-title="{% trans "Détails de la modification" %}" data-content="{% spaceless %}
                                            <table class='table table-condensed table-striped'>
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>{% trans "Champ" %}</th>
                                                        <th>{% trans "Avant" %}</th>
                                                        <th>{% trans "Après" %}</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    {% for field, value in log_entry.json_extra_data.added.iteritems %}
                                                        <tr class='success'><td><i class='fa fa-plus'></i></td><td>{{field}}</td><td>&nbsp;</td><td>{{value|html_check_and_safe|truncatewords_html:500|force_escape}}</td>
                                                    {% endfor %}
                                                    {% for field, value in log_entry.json_extra_data.edited.iteritems %}
                                                        <tr class='warning'><td><i class='fa fa-asterisk'></i></td><td>{{field}}</td><td>{{value.0|html_check_and_safe|truncatewords_html:500|force_escape}}</td><td>{{value.1|html_check_and_safe|truncatewords_html:500|force_escape}}</td>
                                                    {% endfor %}
                                                    {% for field, value in log_entry.json_extra_data.deleted.iteritems %}
                                                        <tr class='danger'><td><i class='fa fa-times'></i></td><td>{{field}}</td><td>{{value|html_check_and_safe|truncatewords_html:500|force_escape}}</td><td>&nbsp;</td>
                                                    {% endfor %}

                                                </tbody>

                                            </table>
                                            {% endspaceless %}"></i>
                                        {% endif %}
                                        {% if log_entry.what == 'state_changed' %}
                                        <i class="fa fa-info" rel="popover-hover" data-html="true" data-placement="left" data-original-title="{% trans "Détails de la modification" %}" data-content="{% spaceless %}
                                          <p style='padding: 5px;'>
                                            {% trans "Passé de " %} {{log_entry.json_extra_data.old}} {% trans "à" %} {{log_entry.json_extra_data.new}}
                                          </p>
                                            {% endspaceless %}"></i>
                                        {% endif %}
                                        {% if log_entry.what == 'file_added' or log_entry.what == 'file_removed' %}
                                            <i class="fa fa-info" rel="popover-hover" data-html="true" data-placement="left" data-original-title="{% trans "Fichier" %}" data-content="{{log_entry.extra_data}}"> </i>
                                        {% endif %}

                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                {% with id="log_list_table" datatable_simple=True %}{% include "datatables.html" %}{% endwith %}

                {% include "widget/footer.html" %}
            </div>
            {% block row_for_logs %}</div><div class="row">{% endblock %}
          {% endifhasright %}

        {% if rights %}
          <div class="col-sm-12 col-md-12 col-lg-6">
              {% with w_title="Droits" %}{% include "widget/header.html" %}{% endwith %}

                  <dl class="dl-horizontal">
                      {% for key, info, has_right in rights %}
                          <dt class="txt-color-{{has_right|yesno:"green,red"}}">{{key}}</dt>
                          <dd class="txt-color-{{has_right|yesno:"green,red"}}">{{info}}: {% with val=has_right %}{% include "generic/yesorno.html" %}{% endwith %}</dd>
                      {% endfor %}
                  </dl>

              {% include "widget/footer.html" %}
          </div>
        {% endif %}

        {% if obj.MetaState.states %}
              {% include "generic/generic/show_states.html" %}
        {% endif %}

        {% block bonus_box %}{% endblock %}

        </div>
    </section>

    <div style="float: right;">

        {% block bonus_buttons %}{% endblock %}

        {% ifhasright obj user 'LIST' %}
        <a href="{% if related_mode %}{% url list_related_view %}{% else %}{% url list_view %}{% endif %}" class="btn btn-info">
          <i class="fa fa-list"></i>
          {% trans "Retourner sur la liste" %}
        </a>
        {% endifhasright %}
        {% ifhasright obj user 'DELETE' %}
          <a href="{% url delete_view obj.pk %}{% if related_mode %}?_upkns=_&_fromrelated=_{% endif %}" class="btn btn-danger">
            <i class="fa fa-times"></i>
            {% trans "Supprimer" %}
          </a>
        {% endifhasright %}
        {% if contactables_groups %}
          <div class="btn-group dropup">
            <a href="#" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope"></i>
              {% trans "Contacter..." %}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              {% for key, description in contactables_groups.iteritems %}
              <li><a data-target="#modal-contact" data-toggle="modal" href="{% url contact_view obj.pk key %}">{{description}}</a></li>
              {% endfor %}
            </ul>
          </div>

          <div class="modal fade" id="modal-contact" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
              </div>
            </div>
          </div>
        {% endif %}
        {% ifhasright obj user 'EDIT' %}
          <a href="{% url edit_view obj.pk %}{% if related_mode %}?_upkns=_&_fromrelated=_{% endif %}" class="btn btn-primary">
            <i class="fa fa-pencil"></i>
            {% trans "Modifier" %}
          </a>
        {% endifhasright %}

    </div>

    <hr style="clear: both;"></hr>

{% endblock %}


{% block menuid %}{% if related_mode %}{{Model.MetaData.menu_id_related}}{% else %}{{Model.MetaData.menu_id}}{% endif %}{% endblock %}
