{% load i18n bootstrap3 generic_extras %}

<form id="switch-status-form" method="POST" action="{% url status_view pk %}?dest_status={{dest_status}}{% if from_list %}&from_list=from_list{% endif %}">
  {% csrf_token %}

    <div class="modal-content">

      <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">{% trans "Modification de statut" %}</h4>
      </div>

        <div class="modal-body">

            {% if can_switch %}
                <input type="hidden" name="do" value="it">

                {% trans "Vous êtes sur le point de passer" %} {% for obj in objs %}{{obj}}{% if not forloop.last %}, {% endif %}{% endfor %} {% trans "vers le statut" %} <b>{{dest_status_message}}</b>. {% trans "Êtes-vous sûr de vouloir faire ça ?" %}

                <div class="alert alert-info">
                    {{objs.0.MetaState.states_texts|get_attr:dest_status}}
                </div>

                {% if bonus_form %}
                    {% bootstrap_form bonus_form %}
                {% endif %}
            {% else %}

                <div class="alert alert-danger">
                  {% trans "Impossible de modifier le statut" %}{% if multi_obj %}({{prob_obj}}){% endif %}<br /><br />
                    {{can_switch_message}}
                </div>

            {% endif %}

          <div class="modal-footer">
            <button type="button" class="btn btn-default" id="modal-switch-cancel" data-dismiss="modal">
                {% trans "Annuler" %}
            </button>
                {% if can_switch %}<input type="submit" class="btn btn-primary" value="{% trans "Modifier" %}">{% endif %}
          </div>
        </div>

    </div><!-- /.modal-content -->

    <script type="text/javascript">
        $('#switch-status-form').ajaxForm({replaceTarget: true, target: '#switch-status-form'});
            {% if done %}
                {% if from_list %}
                    refresh_list();
                    $('#modal-switch-cancel').click();

                {% else %}
                    {% if no_more_access %}
                        window.location = '{% url list_view %}';
                    {% else %}
                        window.location.reload();
                    {% endif %}
                {% endif %}
            {% endif %}
     </script>
</form>

