{% extends "base_pdf.html" %}
{% load i18n humanize %}

{% block title %}
    <h1 style="text-align: center; font-size: 32px; padding-top: 1cm; padding-top:0px;">{% trans "Demande de retrait cash" %}</h1>
    <h1 style="text-align: center; padding-top:-50px; margin-bottom:0px">{{object.name}}</h1>
{% endblock %}

{% block post_linkedinfo %}
    <tr class="tr-info"><td colspan="2">&nbsp;</td></tr>
    <tr class="tr-info"><td class="td-label">{% trans "Date de la demande : " %}</td><td class="td-large">{{object.get_creation_date|default:object.desired_date|date:"d/m/Y"}}</td></tr>
    <tr class="tr-info"><td class="td-label">{% trans "Date de remise de l'argent : " %}</td><td class="td-large">{{object.withdrawn_date|date:"d/m/Y"}}</td></tr>
{% endblock %}

{% block detail_table %}
    <table>
        <tr><td class="td-label"><b>{% trans "Motif du retrait : " %}</b></td><td colspan ="3" class="td-label" style="text-align: left;"><b>{{object.description}}</b></td></tr>
        <tr><td colspan="4">&nbsp;</td></tr>

        <tr><td class="td-label" style="color: red;"><b>{% trans "Montant : " %}</b></td><td></td><td></td><td class="td-title" style="text-align: right;"><b>CHF {{object.amount|intcomma}}</b></td></tr>
        <tr><td colspan="4">&nbsp;</td></tr>

        <tr><td colspan="2"><b>{% trans "Visa de la personne : " %}</b></td><td colspan="2" style="border-bottom: 1px black solid;"></td></tr>
        <tr><td colspan="4">&nbsp;</td></tr><tr><td colspan="4">&nbsp;</td></tr>

        <tr><td colspan="2"><b>{% trans "Visa president(e) AGEPoly : " %}</b></td><td colspan="2" style="border-bottom: 1px black solid;"></td></tr>
        <tr><td colspan="4">&nbsp;</td></tr><tr><td colspan="4">&nbsp;</td></tr>

        <tr><td colspan="2"><b>{% trans "Visa administrateur(trice) AGEPoly : " %}</b></td><td colspan="2" style="border-bottom: 1px black solid;"></td></tr>
        <tr><td colspan="4">&nbsp;</td></tr><tr><td colspan="4">&nbsp;</td></tr><tr><td colspan="4">&nbsp;</td></tr>

        <tr><td colspan="2" class="td-label"><b>{% trans "Reçu CHF." %} </b></td><td colspan="2" style="border-bottom: 1px black solid;"></td></tr>
        <tr><td colspan="4">&nbsp;</td></tr>

        <tr><td colspan="2" class="td-label"><b>{% trans "Le :" %}</b></td><td colspan="2" style="border-bottom: 1px black solid;"><span style="width: 30%;"></td></tr>
        <tr><td colspan="4">&nbsp;</td></tr>

        <tr><td colspan="2" class="td-label"><b>{% trans "Signature :" %}&nbsp;&nbsp;&nbsp;</b></td><td colspan="2" style="border-bottom: 1px black solid;"></td></tr>
        <tr><td colspan="4">&nbsp;</td></tr><tr><td colspan="4">&nbsp;</td></tr><tr><td colspan="4">&nbsp;</td></tr>

        <tr><td colspan="4"><b>{% trans "*ATTENTION - La personne qui vise est responsable du suivi du retrait et de le justifier dans les 2 mois." %}</b></td></tr>
    </table>
{% endblock %}
