+{% load i18n humanize generic_extras %}
<div class="col-sm-12 col-md-12 col-lg-6" main_id="cashbooks.html">
    {% with w_title="Journaux de caisse en attente" w_nopadding=True %}{% include "widget/header.html" %}{% endwith %}

        <table class="table table-condensed table-hover table-striped">
            {% for cashbook in cashbook_to_validate %}
                <tr>
                    <td><a href="{{cashbook.display_url}}">{% if cashbook|is_new_for:user %}<i class="glyphicon glyphicon-certificate"></i> {% endif %}{{cashbook.name}}</a></td>
                    <td>CHF {{cashbook.get_total|stringformat:"+.2f"|intcomma|slice:"1:"}}</td>
                    <td>{{cashbook.costcenter}}</td>
                    <td><span class="label label-{% if cashbook.status == '1_unit_validable' %}primary{% elif cashbook.status == '2_agep_validable' %}warning{% else %}info{% endif %}">{% if cashbook.status == '1_unit_validable' %}{% trans "À valider (trésorier)" %}{% elif cashbook.status == '2_agep_validable' %}{% trans "À valider (AGEPoly)" %}{% else %}{% trans "À signer (AGEPoly)" %}{% endif %}</td>
                </tr>
            {% endfor %}

            {% for cashbook in cashbook_to_account %}
                <tr>
                    <td><a href="{{cashbook.display_url}}">{% if cashbook|is_new_for:user %}<i class="glyphicon glyphicon-certificate"></i> {% endif %}{{cashbook.name}}</a></td>
                    <td>CHF {{cashbook.get_total|stringformat:"+.2f"|intcomma|slice:"1:"}}</td>
                    <td>{{cashbook.costcenter}}</td>
                    <td><span class="label label-{% if cashbook.status == '4_accountable' %}warning{% else %}primary{% endif %}">{% if cashbook.status == '4_accountable' %}{% trans "A comptabiliser (Secrétariat)" %}{% else %}{% trans "En comptabilisation (Comptabilité)" %}{% endif %}</span></td>
                </tr>
            {% endfor %}

            {% if not cashbook_to_validate and not cashbook_to_account %}
                <tr>
                    <td colspan="4" class="success"><i class="fa fa-check"></i> {% trans "Aucun journal de caisse en attente !" %}</td>
                </tr>
            {% endif %}
        </table>
    {% include "widget/footer.html" %}
</div>
