{% load i18n humanize generic_extras %}
<div class="col-sm-12 col-md-12 col-lg-6" main_id="expenseclaims.html">
    {% with w_title="Notes de frais en attente" w_nopadding=True %}{% include "widget/header.html" %}{% endwith %}

        <table class="table table-condensed table-hover table-striped">
            {% for expenseclaim in expenseclaim_to_validate %}
                <tr>
                    <td><a href="{{expenseclaim.display_url}}">{% if expenseclaim|is_new_for:user %}<i class="glyphicon glyphicon-certificate"></i> {% endif %}{{expenseclaim.name}}</a></td>
                    <td>CHF {{expenseclaim.get_total|intcomma}}</td>
                    <td>{{expenseclaim.costcenter}}</td>
                    <td><span class="label label-{% if expenseclaim.status == '1_unit_validable' %}primary{% elif expenseclaim.status == '2_agep_validable' %}warning{% else %}info{% endif %}">{% if expenseclaim.status == '1_unit_validable' %}{% trans "À valider (trésorier)" %}{% elif expenseclaim.status == '2_agep_validable' %}{% trans "À valider (AGEPoly)" %}{% else %}{% trans "À signer (AGEPoly)" %}{% endif %}</td>
                </tr>
            {% endfor %}

            {% for expenseclaim in expenseclaim_to_account %}
                <tr>
                    <td><a href="{{expenseclaim.display_url}}">{% if expenseclaim|is_new_for:user %}<i class="glyphicon glyphicon-certificate"></i> {% endif %}{{expenseclaim.name}}</a></td>
                    <td>CHF {{expenseclaim.get_total|intcomma}}</td>
                    <td>{{expenseclaim.costcenter}}</td>
                    <td><span class="label label-{% if expenseclaim.status == '4_accountable' %}warning{% else %}primary{% endif %}">{% if expenseclaim.status == '4_accountable' %}{% trans "A comptabiliser (Secrétariat)" %}{% else %}{% trans "En comptabilisation (Comptabilité)" %}{% endif %}</td>
                </tr>
            {% endfor %}

            {% if not expenseclaim_to_validate and not expenseclaim_to_account %}
                <tr>
                    <td colspan="4" class="success"><i class="fa fa-check"></i> {% trans "Aucune note de frais en attente !" %}</td>
                </tr>
            {% endif %}
        </table>
    {% include "widget/footer.html" %}
</div>
