{% load i18n humanize %}
{% if internaltransfer_to_validate or internaltransfer_to_account %}
    <div class="col-sm-12 col-md-12 col-lg-6">
        {% with w_title="Transferts internes en attente" %}{% include "widget/header.html" %}{% endwith %}

            <ul>
                {% for internaltransfer in internaltransfer_to_validate %}
                    <li><a href="{{internaltransfer.display_url}}">CHF {{internaltransfer.amount|intcomma}} : {{internaltransfer.cost_center_from }} &#10140; {{internaltransfer.cost_center_to}} <span class="label label-primary">{% trans "A valider" %}</span></a></li>
                {% endfor %}

                {% for internaltransfer in internaltransfer_to_account %}
                    <li><a href="{{internaltransfer.display_url}}">CHF {{internaltransfer.amount|intcomma}} : {{internaltransfer.cost_center_from }} &#10140; {{internaltransfer.cost_center_to}} <span class="label label-success">{% trans "A comptabiliser" %}</span></a></li>
                {% endfor %}
            </ul>
        {% include "widget/footer.html" %}
    </div>
{% endif %}