{% load i18n humanize %}
{% if internaltransfer_to_validate or internaltransfer_to_account %}
    <div class="col-sm-12 col-md-12 col-lg-6">
        {% with w_title="Transferts internes en attente" %}{% include "widget/header.html" %}{% endwith %}

            <table class="table table-condensed table-hover table-striped">
                {% for internaltransfer in internaltransfer_to_validate %}
                    <tr>
                        <td><a href="{{internaltransfer.display_url}}">CHF {{internaltransfer.amount|intcomma}}</a></td>
                        <td>{{internaltransfer.cost_center_from }}</td>
                        <td>&#10140;</td>
                        <td>{{internaltransfer.cost_center_to}}</td>
                        <td><span class="label label-primary">{% trans "A valider" %}</span></td>
                    </td>
                {% endfor %}

                {% for internaltransfer in internaltransfer_to_account %}
                    <tr>
                        <td><a href="{{internaltransfer.display_url}}">CHF {{internaltransfer.amount|intcomma}}</a></td>
                        <td>{{internaltransfer.cost_center_from }}</td>
                        <td>&#10140;</td>
                        <td>{{internaltransfer.cost_center_to}}</td>
                        <td><span class="label label-success">{% trans "A comptabiliser" %}</span></td>
                    </td>
                {% endfor %}
            </table>
        {% include "widget/footer.html" %}
    </div>
{% endif %}
