{% load i18n humanize %}
{% if rcash_to_validate or rcash_to_withdraw or rcash_to_justify %}
    <div class="col-sm-12 col-md-12 col-lg-6">
        {% with w_title="Retraits cash en attente" %}{% include "widget/header.html" %}{% endwith %}

            <ul>
                {% for rcash in rcash_to_validate %}
                    <li><a href="{{rcash.display_url}}">CHF {{rcash.amount|intcomma}} : {{rcash}} <span class="label label-primary pull-right">{% trans "A valider / retirer pour le" %} {{rcash.desired_date|date:"d M Y"}}</span></a></li>
                {% endfor %}

                {% for rcash in rcash_to_withdraw %}
                    <li><a href="{{rcash.display_url}}">CHF {{rcash.amount|intcomma}} : {{rcash}} <span class="label label-success pull-right">{% trans "Prêt à être retiré depuis le" %} {{rcash.withdrawn_date|date:"d M Y"}}</span></a></li>
                {% endfor %}

                {% for rcash in rcash_to_justify %}
                    <li><a href="{{rcash.display_url}}">CHF {{rcash.amount|intcomma}} : {{rcash}} <span class="label label-warning pull-right">{% trans "A justifier" %}</span></a></li>
                {% endfor %}
            </ul>
        {% include "widget/footer.html" %}
    </div>
{% endif %}
