{% load i18n humanize generic_extras %}
{% trans 'La pièce comptable "' %}{{notification.linked_object}}{% trans '" doit être justifiée.' %}

{% if notification.linked_object|get_class == 'InternalTransfer' %}
- CHF {{notification.linked_object.amount|intcomma}} : {{notification.linked_object.cost_center_from}} &#10140; {{notification.linked_object.cost_center_to}} ({{notification.linked_object.account}})
{% elif notification.linked_object|get_class == 'Withdrawal' %}
- {% trans "Retrait" %} CHF {{notification.linked_object.amount|intcomma}} ({{notification.linked_object.costcenter}})</li>
{% elif notification.linked_object|get_class == 'ExpenseClaim' %}
- {% trans "Note de frais" %} CHF {{notification.linked_object.get_total|intcomma}} ({{notification.linked_object.user}} - {{notification.linked_object.costcenter}})</li>
{% elif notification.linked_object|get_class == 'CashBook' %}
- {% trans "Journal de Caisse" %} CHF {{notification.linked_object.get_total|intcomma}} ({{notification.linked_object.user}} - {{notification.linked_object.costcenter}})</li>
{% else %}
- {% blocktrans with class=notification.linked_object|get_class %}Objet non reconnu ({{class}}), contacter l'administrateur.{% endblocktrans %}
{% endif %}