{% extends "generic/generic/edit.html" %}
{% load i18n %}

{% block edit_bonus %}
    <script type="text/javascript">

        // Move CDD fields down
        var kind = $('#id_kind').parents('.form-group').remove();
        var amount_given = $('#id_amount_given').parents('.form-group').remove();
        var mobility_given = $('#id_mobility_given').parents('.form-group').remove();
        var comment_root = $('#id_comment_root').parents('.form-group').remove();
        if (kind.length || amount_given.length || mobility_given.length || comment_root.length) {
            $('#id_description').parents('.form-group').after(kind);
            $('#id_description').parents('.form-group').after("<h3>{% trans "Réservé au Comité de Direction" %}</h3>");
            $('#id_kind').parents('.form-group').after(amount_given);
            $('#id_amount_given').parents('.form-group').after(mobility_given);
            $('#id_mobility_given').parents('.form-group').after(comment_root);
        }

        $(function() {
            // Transform id_kind in select2
            if($('#id_kind').attr('type') !== 'hidden') {
                $('#id_kind').removeClass('form-control');
                $('#id_kind').width('72%').select2();
            }

            // Hide mobility asked for external entities
            if ($('.cgroupe').attr('pk') == -1) {
                $('#id_mobility_asked').val('');
                $('#id_mobility_asked').parents('.form-group').hide();
                $('#id_kind').val('sponsorship');
            } else {
                $('#id_kind').val('subvention');
            }
        });

        // Hide mobility asked for external entities
        $('.unit-displayed').click(function(e) {
            if ($('.cgroupe').attr('pk') == -1) {
                $('#id_mobility_asked').val('');
                $('#id_mobility_asked').parents('.form-group').hide();
                $('#id_kind').val('sponsorship');
            }else {
                $('#id_mobility_asked').parents('.form-group').show();
                $('#id_kind').val('subvention');
            }
        });
    </script>
{% endblock %}
