{% extends "generic/generic/edit.html" %}
{% load i18n %}

{% block bonus_unit_updated %}
    update_budget();
{% endblock %}

{% block bonus_year_updated %}
    update_budget();
{% endblock %}

{% block edit_bonus %}
    <script type="text/javascript">

        // Move CDD fields down
        var kind = $('#id_kind').parents('.form-group').remove();
        var amount_given = $('#id_amount_given').parents('.form-group').remove();
        var mobility_given = $('#id_mobility_given').parents('.form-group').remove();
        var comment_root = $('#id_comment_root').parents('.form-group').remove();
        if (kind.length || amount_given.length || mobility_given.length || comment_root.length)
            $('#generic_main_form').append("<h3>{% trans "Réservé au Comité de Direction" %}</h3>");
        $('#generic_main_form').append(kind);
        $('#id_kind').parents('.form-group').after(amount_given);
        $('#id_amount_given').parents('.form-group').after(mobility_given);
        $('#id_mobility_given').parents('.form-group').after(comment_root);

        $(function() {
            // Transform id_kind in select2
            if($('#id_kind').attr('type') !== 'hidden') {
                $('#id_kind').removeClass('form-control');
                $('#id_kind').width('72%').select2();
            }

            // Transform id_linked_budget in select2
            if($('#id_linked_budget').attr('type') !== 'hidden') {
                $('#id_linked_budget').removeClass('form-control');
                $('#id_linked_budget').width('72%').select2();
            }

            // Hide mobility asked for external entities
            if ($('.cgroupe').attr('pk') == -1) {
                $('#id_mobility_asked').val('');
                $('#id_mobility_asked').parents('.form-group').hide();
                $('#id_kind').val('sponsorship');
            } else {
                $('#id_kind').val('subvention');
            }

            update_budget();
        });

        // Hide mobility asked for external entities
        $('.unit-displayed').click(function(e) {
            if ($('.cgroupe').attr('pk') == -1) {
                $('#id_mobility_asked').val('');
                $('#id_mobility_asked').parents('.form-group').hide();
                $('#id_kind').val('sponsorship');
            }else {
                $('#id_mobility_asked').parents('.form-group').show();
                $('#id_kind').val('subvention');
            }
        });

        function update_budget() {
            $.ajax('{% url 'accounting_main.views.budget_available_list' %}?ypk=' + $('#input_ypk').val() + '&upk=' + $('#input_upk').val()).done(function (data) {
                $('#id_linked_budget option').remove();
                $('#id_linked_budget').append(
                    $('<option></option>').val('').html('---------')
                );
                var data = data.data;
                for (var i = 0; i < data.length; i++) {
                    $('#id_linked_budget').append(
                        $('<option></option>').val(data[i].pk).html(data[i].name)
                    );
                }
            });
        }
    </script>
{% endblock %}
