{% extends "generic/generic/mail/base_html.html" %}

{% block content %}
    <p>{% trans "Vous avez une nouvelle notification sur truffe !" %}</p>

    <p>{% include notification.get_email_template %}</p>

    <a href="https://{{site.domain}}{% url 'notifications.views.goto' notification.pk %}?next={{notification.linked_object.display_url}}">{% trans "Détails" %}</a>
{% endblock %}

{% block signature %}
    <p>
        {% trans "Bonne journée," %}<br/> <br/>
        {% trans "Le système de notifications de Truffe" %}
    </p>
{% endblock %}
