{% load i18n bootstrap3 generic_extras %}

<div class="modal-content" id="modal-budget-view">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">{% trans "Vue en budget de la compta" %} {{costcenter}}</h4>

    </div>

    <div class="modal-body">

        <div class="row">

            {% if start or end %}
                <div class="alert alert-info">
                    <i class="fa fa-info"></i>
                    {% trans "Filtrage des entrées du " %} {{start|date:"d.m.Y"}} {% trans "au" %} {{end|date:"d.m.Y"}} {% trans "inclus." %}
                </div>
            {% endif %}

            {% for account, subcategories, subaccounts in data %}
                <div class="col-md-3 root-acc">
                    {% with level=1 subcategories=subcategories childsaccount=childsaccount subaccounts=subaccounts %}{% include "accounting_main/accountingline/_budget_view_account.html" %}{% endwith %}
                </div>
            {% endfor %}

        </div>

        <hr />

        <form action="{% url 'accounting_main.views.accounting_budget_view' %}?costcenter={{costcenter.pk}}" method="POST" id="budget_view_form">
            {% csrf_token %}
            {% bootstrap_form form %}
        </form>

        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="modal-graph-filter" onclick="$('#budget_view_form').submit()">
                {% trans "Filter" %}
            </button>
            <button type="button" class="btn btn-default" id="modal-graph-cancel" data-dismiss="modal">
                {% trans "Fermer" %}
            </button>
        </div>
    </div>

</div><!-- /.modal-content -->

<script type="text/javascript">

    $('#budget_view_form').ajaxForm({replaceTarget: true, target: '#modal-budget-view'});

    function process_level(root_elem, level) {

        if ($(root_elem).find(".budget-tr[style!='display: none;']").length == 0) {
            $(root_elem).hide();
        }

        $(root_elem).find('.acc-level-' + level).each(function (_, elem) {
            process_level(elem, level+1);
        });
    }

    $('.root-acc').each(function (_, elem) {
        process_level(elem, 1);
    });

    nb_visible = $('.root-acc[style!="display: none;"]').length;

    $('.root-acc').removeClass('col-md-3');
    $('.root-acc').removeClass('col-md-4');
    $('.root-acc').removeClass('col-md-6');
    $('.root-acc').removeClass('col-md-12');

    nb_cols = 3;

    if (nb_visible == 1)
        nb_cols = 1;
    else if (nb_visible == 2)
        nb_cols = 6;
    else if (nb_visible == 3)
        nb_cols = 4;

    $('.root-acc').addClass('col-md-' + nb_cols);
    $('#modal-budget').scrollTop(0);

    $('#budget_view_form input').datepicker({dateFormat: 'yy-mm-dd',  prevText: '<i class="fa fa-chevron-left"></i>', nextText: '<i class="fa fa-chevron-right"></i>',});
</script>
