{% extends "generic/generic/list_json.html" %}
{% load i18n rights_extras %}

{% block bonus_buttons %}
    {% ifhasright elem user '!CREATE' %}
        <a data-original-title=\"{% trans "Copier" %}\" href=\"{% url "accounting_core.views.copy_accounting_year" elem.pk %}\" class=\"btn btn-xs btn-default\" title=\"\" rel=\"tooltip\" multido_action=\"window.location = '{% url "accounting_core.views.copy_accounting_year" 9999429999 %}';\" multido_pkreplace=\"9999429999\" multido_button=\"<a href='#' class='btn btn-default'><i class='fa fa-copy'></i> {% trans "Copier" %}</a>\"><i class=\"fa fa-copy\"></i></a>
    {% endifhasright %}
{% endblock %}
