{% load i18n bootstrap3 %}

<form id="add-membership-form" method="POST" action="{% url 'members.views.membership_add' group.pk %}">
    {% csrf_token %}

    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">{% trans "Nouveau membre" %}</h4>
        </div>

        <div class="modal-body">

            <div class="form-group">
                <label>
                    {% trans "Groupe" %}
                </label>
                <input disabled class="form-control" value="{{group}}">
                <span class="help-block">
                    {% trans "Ferme cette fenêtre et selectionne le bon groupe si tu veux en changer" %}
                </span>
            </div>

            {% bootstrap_form form %}

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    {% trans "Annuler" %}
                </button>
                <input type="submit" class="btn btn-primary" value="{% trans "Ajouter" %}">
            </div>
        </div>

    </div><!-- /.modal-content -->
    
  <script type="text/javascript">
        $('#add-membership-form').ajaxForm({replaceTarget: true, target: '#add-membership-form'});
        $('#id_role').css('width', '100%').addClass('select2').removeClass('form-control').select2();
        $('#id_user').css('width', '100%').addClass('select2').attr('type', 'hidden').removeClass('form-control').select2({
            minimumInputLength: 3,
            ajax: {
                url: "{% url 'users.views.ldap_search' %}",
                dataType: 'json',
                data: function (term, page) {
                    return {
                    q: term
                    };
                },
                results: function (data, page) {
                    return { results: data };
                }
            }
        });

        {% if done %}
            window.location.reload();
        {% endif %}

  </script>
</form>
