{% extends "base.html" %}
{% load i18n l10n bootstrap3 %}

{% block title %}{{block.super}} :: {% trans "Membre du Groupe" %} :: {% trans "Suppression" %}}{% endblock %}

{% block ribbon %}
    {{block.super}}
    <li><a href="{% url "members.views.memberset_list" %}"><i class="fa fa-list"></i> {% trans "Groupes de Membres" %}</a></li>
    <li><a href="{% url "members.views.memberset_show" membership.group.pk %}"><i class="fa fa-male"></i> {{membership.group}}</a></li>
    <li><i class="fa fa-times"></i> {% trans "Suppression" %}</li>
{% endblock %}

{% block content %}

    <h1>{{membership.group}}</h1>
    
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-7">
            <div class="well">
                <form class="form-horizontal" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="do" value="it">

                    <div class="alert alert-block alert-warning">
                        <h4 class="alert-heading">{% trans "Vous êtes sur le point de retirer le membre " %} {{membership.user.get_full_name}} {% trans "du groupe" %} {{membership.group}}</h4>

                        {% trans "Êtes-vous sûr de vouloir faire ça ?" %}
                    </div>

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="{% url "members.views.memberset_show" membership.group.pk %}" class="btn btn-success"><i class="fa fa-list"></i> {% trans "Annuler et retourner sur la liste" %}</a>
                                {% if not cannot_last_prez %}<button type="submit" class="btn btn-danger"><i class="fa fa-times"></i> {% trans "Supprimer" %}</button>{% endif %}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
