{% extends "generic/datatables_json.html" %}
{% load i18n rights_extras %}

{% block data %}
[
    {% for elem in list %}
    [
      "<input type=\"checkbox\" class=\"dt_list_checkbox\" pk=\"{{elem.pk}}\">",
      "<a href=\"{% url "users.views.users_profile" elem.user.pk %}\">{{elem.user.get_full_name|force_escape|escapejs}}</a>",
        "{{elem.start_date|date:"d.m.Y"|force_escape|escapejs}}",{% if handle_fees %}
        "{{elem.payed_fees|yesno:"Non,Oui"|force_escape|escapejs}}",{% endif %}
        "{% ifhasright elem.group user 'DELETE' %}<a href=\"{% url "members.views.membership_delete" elem.pk %}\" class=\"btn btn-xs btn-danger\"><i class=\"fa fa-times\"></i> {% trans "Supprimer" %}</a>{% endifhasright %}{% if handle_fees %}{% ifhasright elem.group user 'EDIT' %} <a href=\"{% url "members.views.membership_toggle_fees" elem.pk %}\" class=\"btn btn-xs btn-default\"><i class=\"fa fa-edit\"></i> {% trans "Changer le statut de la cotisation" %}</a>{% endifhasright %}{% endif %}"
      ]{% if not forloop.last %},{% endif %}
    {% endfor %}
]
{% endblock %}
