{% extends "base_pdf.html" %}
{% load i18n humanize %}

{% block title %}
    <h1 style="text-align: center; font-size: 32px; padding-top: 1cm;">{% trans "Réservation de véhicule" %}</h1>
{% endblock %}

{% block unit_def %}
    <tr class="tr-info"><td class="td-title">{% trans "Pour" %} {% if object.unit.is_equipe %}{% trans "l'équipe" %}{% elif object.unit.is_commission %}{% trans "la commission" %}{% endif %}{% trans " : " %}</td><td class="td-large">{{object.unit}}</td></tr>
{% endblock %}

{% block linkedinfo_basics %}{% endblock %}
{% block linkedinfo_advanced %}{% endblock %}

{% block post_linkedinfo %}
    <tr class="tr-info"><td class="td-label">{% trans "Status" %} :</td><td class="td-large">{{object.get_status_display}}</td></tr>
    <tr class="tr-info"><td class="td-label">{% trans "Date de prise en charge" %} :</td><td class="td-large">{{object.start_date|date:"d.m.Y"}} {{object.start_date|time:"H:i:s"|default_if_none:"&nbsp;"}}
</td></tr>
    <tr class="tr-info"><td class="td-label">{% trans "Date de retour" %} :</td><td class="td-large">{{object.end_date|date:"d.m.Y"}} {{object.end_date|time:"H:i:s"|default_if_none:"&nbsp;"}}</td></tr>
{% endblock %}

{% block detail_table %}
    <table>
        <tr class="tr-info"><td class="td-title">{% trans "Responsable" %} :</td><td class="td-large">{{object.responsible}}</td></tr>
        <tr class="tr-info"><td class="td-label">{% trans "Téléphone responsable" %} :</td><td class="td-large">{{object.responsible.mobile}}</td></tr>
    </table>
    <br />
    <table>
        <tr class="tr-info"><td class="td-title">{% trans "Fournisseur" %} :</td><td class="td-large">{{object.provider}}</td></tr>
        <tr class="tr-info"><td class="td-label">{% trans "Type véhicule" %} :</td><td class="td-large">{{object.vehicletype}}</td></tr>
        <tr class="tr-info"><td class="td-label">{% trans "Carte" %} :</td><td class="td-large">{{object.card}}</td></tr>
        <tr class="tr-info"><td class="td-label">{% trans "Lieu" %} :</td><td class="td-large">{{object.location}}</td></tr>
    </table>
    <br />
    <table>
        <tr class="tr-info"><td class="td-title">{% trans "Motif" %} :</td><td class="td-large">{{object.reason}}</td></tr>
        {% if object.remark %}<tr class="tr-info"><td class="td-label">{% trans "Remarque" %} :</td><td class="td-large">{{object.remark}}</td></tr>{% endif %}
        {% if object.remark_agepoly %}<tr class="tr-info"><td class="td-label">{% trans "Remarque AGEPoly" %} :</td><td class="td-large">{{object.remark_agepoly}}</td></tr>{% endif %}
    </table>
{% endblock %}
